<a href="https://colab.research.google.com/github/camilanb/SoulCode-Analise-de-Dados/blob/main/Aulas_AD2_%7C_Camila_N_Barcellos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **FUNDAMENTOS DE PYTHON**

Escola: SoulCode Academy

Curso: Bootcamp Analista de Dados | Martech | AD2

Período: Semana 4

Professora: Franciane Rodrigues

Aluna: Camila N. Barcellos Borsoi

* **Lógica de programação:** é um conceito teórico que se refere à forma de pensar e abordar problemas de programação.

* **Algoritmo** é uma descrição abstrata de um processo ou solução que poderá ser executado por um computador;
* **Script** é um conjunto de instruções ou comandos escritos em uma linguagem de programação específica. Geralmente, os scripts são usados para automatizar tarefas ou para definir o comportamento de um programa ou sistema. Eles são frequentemente executados interpretando linha por linha, em vez de serem compilados em um programa executável separado.
* **Programa** é  um conjunto de instruções escritas em uma linguagem de programação específica, organizadas de forma lógica, para realizar uma tarefa ou resolver um problema específico. Ao contrário de um script, um programa é compilado ou interpretado antes da execução, resultando em um arquivo executável que pode ser executado diretamente em um sistema operacional.

## **Comentários e tipos básicos de dados**

In [ ]:
print("Olá, mundo!") # usando aspas duplas

Olá, mundo!

In [ ]:
# isto é um comentário
""" isto é um comentário """

' isto é um comentário '

In [ ]:
# Tipos de dados

![Foto 1.png]()

In [ ]:
# Escrevendo dados pessoais

print(33) #int quantitat
print(1.55) #float quantit
print('Camila') #str escrita com aspas simples qualit
print("Borsoi") #str escrita com aspas duplas qualit
print(False) #bool qualit o false precisa estar com F maiusculo

33
1.55
Camila
Borsoi
False

**RESUMO**

*   Os **comentários** são como notas, deixadas para que você mesmo, ou outra pessoa possa ler no código, e ajuda a documentar o código.
*   **Comando print:** função de saída usada em várias linguagens de programação, para exibir mensagens ou valores em tela.
*   **\n**: usado para criar "quebras de linha" em um texto
*   Os tipos de dados mais usados em Python são int, float, str, bool
*   int e float: dados quantitativos
*   str: dados categóricos

# **Variáveis**

# String

Tamanho da string:
```
l = 'lista de letras'
data = '15/09/2021'

tamanho = len(l)
print(tamanho)
```
Split da String:
```
lista = l.split(" ") # (" ") é o parâmetro de divisão do split, dividido a cada espaço
lista2 = data.split("/") # / é o parâmetro de divisão do split.
print(lista)
print(lista2)
```
Substituição:
```
print(l.replace(" de ", "")) # trocando o "de" do "lista de letras" por apenas um espaço em branco.
```

# Fatiamento de Strings

nome = 'python'

In [ ]:
# Declarando variáveis
idade = 33
altura = 1.55
nome = 'Camila'
sobrenome = 'Borsoi'
filhos = False

In [ ]:
# Imprime na tela usando a função print
print(idade)
print(altura)
print(nome)
print(sobrenome)
print(filhos)

33
1.55
Camila
Borsoi
False

In [ ]:
print(type(idade))
print(type(altura))
print(type(nome))
print(type(sobrenome))
print(type(filhos))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'bool'>

In [ ]:
# Atenção: o python é sensível às letras maiúsculas e minúsculas
nome = 'Camila'
print(nome)

In [ ]:
# Armazenando str e número
nome_c = 'Camila Nascimento Barcellos Borsoi'
num_f = '33'

# Checando o tipo da variável num_f

print(type(num_f))

<class 'str'>

In [ ]:
# Se o número estiver entre aspas, de int se transforma em string
print(nome_c, num_f)

Camila Nascimento Barcellos Borsoi 33

In [ ]:
# Renomeação da variável
nome = "Sara"

In [ ]:
# Atualização da variável "nome"
# Sempre a última alteração será a válida
nome

'Sara'

**Resumo**
*  **Variáveis** permitem salvar valores na memória usando um nome que atribuímos
* Declaramos um nome no lado esquerdo do operador igual (“=”), e no lado direito, atribuir o valor que queremos salvar para usar mais tarde.
* Como ler: Declaramos a variável "a" ao valor do "2" do tipo int
* a = 2
* Como ler: Declaramos a variável "b" ao valor do "10.953" do tipo float
* b = 10.953
* Como ler: A variável "a" recebe valor 2 do tipo int
* a = 2
* Como ler: A variável "b" recebe valor 10.953 do tipo float
* b = 10.953
* É possível usar os dois comandos print e type juntos
* Atenção: Número pode ser string

**Regras para nomes de variáveis**
* Deve começar com uma letra (maíuscula ou minúscula) ou subcrito(_).
* Nunca pode começar com um número.
* Pode conter letras maiúsculas, minúsculas, números e subscrito.
* Não pode-se utilizar como parte do nome de uma variável:
{ ( + - * / \ ; . , ?
* Letras maiúsculas e minúsculas são diferentes:
casa = 4
Casa = 4

 ### **Conversão de variáveis**

In [ ]:
# Conversão de int para float
num_int = 10
num_float = float(num_int)

# Checando a conversão

print(type(num_int), type(num_float))
print(num_float)

<class 'int'> <class 'float'>
10.0

In [ ]:
# Convesão de int para string
num_int = 10
num_str = str(num_int)

In [ ]:
# Checando a conversão
print(type(num_int), type(num_str))
print(num_str)

<class 'int'> <class 'str'>
10

In [ ]:
# Conversão de str para float
num_str = '10.5'
num_float = float(num_str)

# Checando a conversão
print(type(num_str), type(num_float))
print(num_float)

<class 'str'> <class 'float'>
10.5

In [ ]:
# Conversão de float para str

num_float = 10.5
num_str = str(num_float)

# Checando
print(type(num_float), type(num_str))
print(num_str)

<class 'float'> <class 'str'>
10.5

In [ ]:
# FALHA NO SISTEMA
# conversão de str para int ()
# num_str = '10.5'
# num_int = int(num_str)

# Conversão de str para int ()
num_str = '10.5' # número inicial é str
num_float = float(num_str) # conversão intermediária (de str pra float)
num_int = int(num_float) # conversão final: de float pra int

# Checando
print(type(num_str), type(num_int))
print(num_int)

## **Python | Operadores Matemáticos**

In [ ]:
# Adição
n1 = 5.88
n2 = 7.15
soma = n1+n2

# Apresentações da Adição

print(round(soma))
print('A soma é:', round(soma))
print(f'a soma dos números é {soma:.2f}')

13
A soma é: 13
a soma dos números é 13.03

In [ ]:
# Subtração
a1 = 154.587
a2 = 10.548
sub = a1-a2

# Modos de apresentação da subtração

print(sub)
print('A subtração dos números é:', round(sub,2)) #arredondar(round), com 2 números decimais
print(f'A subtração dos números é {sub:.2f}') # f serve para inserir uma variável dentro do print; o .2f serve para reduzir o print a 2 casas decimais.

144.039
A subtração dos números é: 144.04
A subtração dos números é 144.04

In [ ]:
formatador = '{:.2f}'.format
print('A subtracao é: ', formatador(sub))

A subtracao é:  144.04

In [ ]:
# Multiplicação

b1 = 3.57
multi = b1*3

# Modos de apresentação
print(multi)
print(f"A multiplicação dos numeros é {multi:2f}")
print('A multiplicação é:', round(multi,2))
print(round(b1*3))
b1*3

10.709999999999999
A multiplicação dos numeros é 10.710000
A multiplicação é: 10.71
11

10.709999999999999

In [ ]:
# Divisão

x1 = 10
x2 = 5
div = x1/x2

# Modo de apresentação

print(div)
print('A divisão é', div)
print(f"A multiplicação tem como resultado {div:.2f}")
print(x1/x2)
x1/x2

2.0
A divisão é 2.0
A multiplicação tem como resultado 2.00
2.0

2.0

In [ ]:
# soma (+) Exemplo: some 3 com 2
soma = 3 + 2

# subtração (-) Exemplo: Subtraia 2 de 3
sub = 3 - 2

# multiplicação (*) Exemplo: Multiplique 3 por 2
mult = 3 * 2

# divisão (/) Exemplo: divida 3 por 2
div = 3 / 2

# parte inteira da divisão (//) Exemplo: encontre e guarde a parte inteira da divisão de 3 por 2
idiv = 3 // 2

# resto da divisão (%) Exemplo: encontre e guarde o resto da divisão de 3 por 2
rdiv = 3 % 2

# potenciação (**) Exemplo: eleve 3 a 2
pot = 3 ** 2

print(soma)
print(sub)
print(mult)
print(div)
print(idiv)
print(rdiv)
print(pot)

5
1
6
1.5
1
1
9

In [ ]:
# Melhorando a visualização dos prints f-string
print(f'O resultado da soma de 3 com 2 é: {soma} ')
print(f'O resultado da subtração de 3 com 2 é: {sub} ')
print(f'O resultado da multiplicação de 3 por 2 é: {mult} ')
print(f'O resultado da divisão de 3 por 2 é: {div} ')
print(f'A parte inteira da divisão de 3 por 2 é: {idiv} ')
print(f'O resto da divisão de 3 por 2 é: {rdiv} ')
print(f'O resultado da potenciação de 3 elevado 2 é: {pot} ')

O resultado da soma de 3 com 2 é: 5
O resultado da subtração de 3 com 2 é: 1
O resultado da multiplicação de 3 por 2 é: 6
O resultado da divisão de 3 por 2 é: 1.5
A parte inteira da divisão de 3 por 2 é: 1
O resto da divisão de 3 por 2 é: 1
O resultado da potenciação de 3 elevado 2 é: 9

In [ ]:
# Operadores de Comparação
# (==) verifica se 2 valores são iguals, e retorna True ou False
# Exemplo: Compare se 2 é igual a 3:
a = 3 # atribui valor 3 (int) à variável a
b = 3.0

teste1 = a == b
print(teste1)

teste2 = 'douglas' == 'Douglas' # comparando duas strings com uma pequena diferença entre eles
print(teste2) # imprimindo variável teste2

teste3 = a != b
print(teste3)

# (>) verifica se um valor é maior que o outro (retorna True ou False)
# Exemplo: compara se 3 é maior que 2

teste4 = 3 > 2
print(teste4)

# (>=) verifica se um valor é maior ou igual ao outro(Retorna True ou False)
#Exemplo: compare se 3 é maior ou igual a 3
teste5 = 3 >= 3
print(teste5)

# (<) verifica se um número é menor que outro (retorna True ou false)
# Exemplo: compare se 2 é menor que 2
teste6 = 2 < 2
print(teste6)

# (<=) verifica se um valor é menor ou igual ao outro (retorna True ou False)
# Exemplo: compare se 2 é menor ou igual a 2
teste7 = 2 <= 2
print(teste7)

True
False
False

In [ ]:
# Atribuição direta (=) atribui ao lado esquerdo do sinal um valor ao lado direito do sinal

nome = 'douglas'
peso_kg = 51
altura_m = 1.55

# Atribuição de incremento (+=), equivale a x = x + y
# Exemplo: crie uma variável t que receba o número 3, depois acrescente +1 à variável

t = 3
t = t + 1
print(f"O resultado de t + 1 é {t}")

t += 1

# Atribuição de decremento (-=) equivale a x = x - y (variável x que está sendo declarada, recebendo a si mesma - y)

# Exemplo: crie uma variável z, que receba o número 5, depois diminui 2

z = 5
z -= 2
print(f"o resultado de 5 -2 é {z}")

# Atribuição de multiplicação (*=) equivale a x = x * y
# Exemplo: Crie uma variável z que receba o número inteiro 5, e depois multiplique por 2

j = 5
j *= 2
print(f"O resultado de j * 2 é: {j}")

# Atribuição de divisão (/=) equivale a x = x / y
# Exemplo: Crie uma variável w que recebe o número 7, e depois divida por 2

w = 7
w /= 2

print(f"o resultado de w/2 é {w}")

# Atribuição de parte inteira da divisão (//=) equivale a x = x // y

# Exemplo: crie uma variável k que receba o número 7, e a parte inteira da divisão de 7 por 2

k = 7
k //= 2
print(f"o resultado de k // 2 é {k}")

# atribuição do resto da divisão (%=) equivale a x = x % y

# Crie uma variável que receba o número 7 e depois receba o resto da divisão de 7 por 2.

b = 7
b %= 2

print(f"O resto da divisão de b por 2 é {b}")

# Atribuição de potenciação (**=) equivale a x = x ** y
# Exemplo: crie uma variável casamento que receba o valor 6, depois receba o quadrado dela.

casamento = 6
casamento **= 2
print(f"O professor Douglas se casará: {casamento} vezes nesta vida")

O resultado de t + 1 é 4
o resultado de 5 -2 é 3
O resultado de j * 2 é: 10
o resultado de w/2 é 3.5
o resultado de k // 2 é 3
O resto da divisão de b por 2 é 1
O professor Douglas se casará: 36 vezes nesta vida

In [ ]:
# (AND/E) Retorna verdadeiro somente se todas as condições da comparação forem satisfeitas.
# Exemplo:

teste8 = 3 > 2 and 3 != 2 and 3 < 4 # V, V, V = V
print("O valor do teste 8 é:", teste8)

# (&) Retorna verdadeiro somente se todas as condições da comparação forem satisfeitas
# Exemplo:

teste9 = (3 >= 2) & (3 != 2) & (3 < 4) # F, V, V = F
print("O valor do teste 9 é:", teste9)

# OR/OU: usa-se a barra | para representar OU. Retorna V se AO MENOS UMA comparação for verdadeira. Tudo falso dá falso, nas outras hipóteses (ao menos 1 V) dá V.
# Exemplo:
teste10 = 3 >= 2 or 3 == 2 or 3 > 4 # V, F, F = V
#           V    ou  F     ou   V  = V

print("O valor do teste 10 é:", teste10)

# NOT -> Inverte verdadeiro em falso
# Exemplo:

teste11 = not(teste10) # not(V)=F
print("O valor do teste 12 é:", teste11)

teste12 = not(teste9) # not(F)=V
print("O valor do teste 12 é:", teste12)

teste13 = (not(3 <= 2) & (3 != 2) & (3 < 4)) # transformando apenas a primeira sentença (3 <= 2) que é F, em V.
#         not(F) & V & V
#           V & V & V = V
print("O valor do teste 13 é:", teste13)

teste14 = not((3 <= 2) & (3 != 2) & (3 < 4)) # transformando o resultado da sentença inteira (F) em V.
#         not(F) = V

print("O valor do teste 14 é:", teste14)

teste15 = ((not (3 >= 2))) & (not(3 == 2)) & (3 < 4) # invertendo resultado da primeira e segunda sentenças
#               not(V) & not(F) & V
#                 F & V & V = F
print("o resultado do teste 15 é:", teste15)

""" Tabuada Lógica:
E: tudo V dá V. Nos outros casos, dá F.
OU: tudo F dá F. Nos outros casos, dá V. Ourives Falso (OUFF)
Se então: V com F dá F (Vera Fischer Falsa), em outros casos, dá V
Se somente se: Iguais dá V, diferentes dá F.
OU—OU:  V + V = F; F + F = F (iguais = falso)
V+F = V; F+V = V (diferentes = verdadeiro) """

O valor do teste 8 é: True
O valor do teste 9 é: True
O valor do teste 10 é: True
O valor do teste 12 é: False
O valor do teste 12 é: False
O valor do teste 13 é: True
O valor do teste 14 é: True
o resultado do teste 15 é: False

' Tabuada Lógica:\nE: tudo V dá V. Nos outros casos, dá F.\nOU: tudo F dá F. Nos outros casos, dá V. Ourives Falso (OUFF)\nSe então: V com F dá F (Vera Fischer Falsa), em outros casos, dá V\nSe somente se: Iguais dá V, diferentes dá F.\nOU—OU:  V + V = F; F + F = F (iguais = falso)\nV+F = V; F+V = V (diferentes = verdadeiro) '

Operadores de identidade (is/is not)

In [ ]:
# IS compara se um objeto é igual ao outro, em relação a valor (número) e tipo (str, int, float, bool)

h = 3
p = 3

teste16 = p == h
print(f"O resultado do teste 16 (p == h) é: {teste16}")

teste17 = p is h
print(f"O resultado do teste 17 (p is h) é {teste17}")

m = 3
n = 3.0
teste18 = m == n
print(f"O resultado do teste 18 (m == n) é {teste18}") # o comparativo == vê somente valor, e retorna True se os valores forem iguais.

teste19 = m is n
print(f"O resultado do teste 19 (m is n)é {teste19}") # o comparativo IS verifica valor e tipo, e só retorna True caso os 2 sejam iguais.

x = 3
y = 4

teste20 = x != y
print(f"O resultado do teste 20 (x is not y) é {teste20}")

teste21 = x is not y
print(f"O resultado do teste 21 (x is not y) é {teste21}")

o = 3
s = 3.0

teste22 = o != s
print(f"O resultado do teste 22 (o!=s) é {teste22}") # o comparativo é F, pois o neste caso é = s (o = s)

teste23 = o is not s
print(f"O resultado do teste 23 (o is not s) é {teste23}") # F pois um é int e outro float

print(type(o))
print(type(s))

O resultado do teste 16 (p == h) é: True
O resultado do teste 17 (p is h) é True
O resultado do teste 18 (m == n) é True
O resultado do teste 19 (m is n)é False
O resultado do teste 20 (x is not y) é True
O resultado do teste 21 (x is not y) é True
O resultado do teste 22 (o!=s) é False
O resultado do teste 23 (o is not s) é True
<class 'int'>
<class 'float'>

Operadores de associação

In [ ]:
# (IN) retorna V(verdadeiro) caso o valor seja encontrado numa sequência ou string
# Exemplo:

nome = "Daniela"
teste24 = "Dani" in nome
print(f"Daniela contem 'Dani': {teste24}")

# (NOT IN) retorna verdadeiro se um caracter ou sequência não existir numa string

teste25 = "Dani" not in nome
print(f"Daniela não contem 'Dani': {teste25}")

teste26 = "dani" not in nome #case sensitive
print(f"Daniela não contem 'dani': {teste26}")

Daniela contem 'Dani': True
Daniela não contem 'Dani': False
Daniela não contem 'dani': True

Coletando informações do usuário

In [ ]:
nome = str(input("Informe seu nome: "))
print(f"Seu nome é: {nome}")
peso = int(input("Informe seu peso em kg (n° inteiro): "))
print(f"{nome} tem {peso} kg.")

altura = float(input("Informe sua altura em metros: "))
print(f"{nome} tem {peso} kg e {altura}")
imc = peso/(altura)**2
print(f"{nome}, seu IMC é: {imc:.1f}")

Informe seu nome: kk
Seu nome é: kk
Informe seu peso em kg (n° inteiro): 51
kk tem 51 kg.
Informe sua altura em metros: 1.55
kk tem 51 kg e 1.55
kk, seu IMC é: 21.2

Python Básico: Strings

In [ ]:
# 0 | 1 | 2 | 3 |  4| 5 | 6 |  7 |  8 |  9 | 10 |  11| 12 |  13 (índice)
#-14|-13|-12|-11|-10|-9 |-8 | -7 | -6 | -5 | -4 | -3 | -2 | -1  (índice reverso)
# d | o | u | g | @ | g | m |  a |  i |  l |   .|  c |  o |  m
# 1°| 2°| 3°| 4°| 5°|6° | 7°|  8°|  9°| 10°| 11°| 12°| 13°|  14° (ordinal)
#

email= "doug@gmail.com"
# encontrando um caracter pelo índice: string[indice]
# Qual é o 5 caracter dessa string?

print(f"O quinto caracter dessa string é: {email[4]}") # é o @

# Exemplo: qual é o último caracter dessa string?
print(f"o último caracter dessa string é {email[13]}")
print(f"o último caracter dessa string é {email[-1]}")

# Quais são todos os caracteres dessa string?
print(f"A sequência de todos os caracteres dessa string é: {email[:]}")

# Exemplo: Quais são os caracteres após o segundo? Excluindo o 2° caracter (o), índice 1?
print(f"A sequência de caracteres dessa string após o segundo é: {email[2:]}") # mostre começando a partir do índice 2, depois, até o final.
# Slice: email [2:] começa a contagem/[começa a mostrar] (inclusive) : [onde quero que pare de mostrar] até onde vai, tudo que tiver depois do lado direito, mas retira o último (exclusive).

# Exemplo: buscar e imprimir todos os caracteres, até o índice 4 (todos os caracteres antes do @, incluindo o @)?

print(f"A sequência de caracteres dessa string até o índice 4 é: {email[:5]}") # mostre tudo, iniciando do 0, até o índice 5 (que exclui o índice 5).

# Exemplo: Como acessar o último caracter da lista, sem contar o tamanho dela.
# Para contar tamanho de objetos (lista, tupla, dicionário):
print(f"O tamanho dessa lista é: {len(email)} caracteres")

# Exemplo: Como acessar o último caracter da lisra sem contar o tamanho dela com a função len()?
print(f"O último caracter dessa string é {email[-1]}")

O quinto caracter dessa string é: @
o último caracter dessa string é m
o último caracter dessa string é m
A sequência de todos os caracteres dessa string é: doug@gmail.com
A sequência de caracteres dessa string após o segundo é: ug@gmail.com
A sequência de caracteres dessa string até o índice 4 é: doug@
O tamanho dessa lista é: 14 caracteres
O último caracter dessa string é m

Métodos para strings

In [ ]:
# Sinal de (+) para concatenar strings
nome = "Douglas"
sobrenome = "Ribeiro"
print(nome + " " + sobrenome)
print(f"{nome} {sobrenome}")

# Converter número em string
cpf = 12345678910
cpf = str(cpf) #colocar str torna mais performático, considerando que não há uma conta a ser feita com CPF, é uma variável qualitativa.
print(type(cpf))
cpf = int(cpf)
print(type(cpf)) # transformar uma variavel num tipo especifico (int). se for numérica, consigo transforar em int, se for str, não é possível. Casting é conversão.

nomen = "Daniela"
testen = "Dani" in nomen
print(f"Daniela contem 'Dani': {testen}")

# (NOT IN) retorna verdadeiro se um caracter ou sequência não existir numa string

teste25 = "Dani" not in nome
print(f"Daniela não contem 'Dani': {teste25}")

teste26 = "dani" not in nome #case sensitive
print(f"Daniela não contem 'dani': {testen}")

# (not in) Retorna verdadeiro se um caracter ou sequencia de caracteres NÃO for encontrado dentro de uma string
testen = 'Dani' not in nomen
print(f'daniela não contém Dani: {testen}')
# (len)Contar o número de caracteres de uma string
qtde = len(nome)
print(f'{nome} tem {qtde} caracteres')

Douglas Ribeiro
Douglas Ribeiro
<class 'str'>

Métodos específicos para strings - método é função pertencente a uma classe. É semelhante a uma função, associado a um objeto específico.

In [ ]:
# Método para deixar a primeira letra de uma string maiúscula: capitalize()
nomem = "douglas"
print(nomem)#
nomem = nomem.capitalize() #o capitalize aumenta a primeira letra do nome "D"
print(nomem)
# Método para deixar as palavras minúsculas .lower() ou .casefold()
nomem = nomem.casefold()
print(nomem)

douglas
Douglas

In [ ]:
# (count) Contar quantas vezes um caracter aparece em uma string
material = "paralelepipedo"
qtde_p = material.count("p") # p é o argumento dentro do (), o que quero contar
print(f"A palavra {material} tem {qtde_p} ps")

A palavra paralelepipedo tem 3 ps

In [ ]:
# (endswith) Verifica se uma string termina com um caracter ou sequência de caracteres

email = 'doug@gmail.com'
teste_end = email.endswith("gmail.com")
print(f"O e-mail {email} termina com gmail.com? {teste_end}")

O e-mail doug@gmail.com termina com gmail.com? True

In [ ]:
# (startswith) Verifica se uma string começa com um caracter ou sequencia de caracteres
email = 'doug@gmail.com'
teste_beg = email.startswith('d')
print(teste_beg)

True

In [ ]:
# (isnumeric) Verifica se uma string é formada por números
rg = '123456789'
teste_rg = rg.isnumeric()
print(teste_rg)

In [ ]:
# (isalpha) Verifica se uma string é formada por letras
rg2 = 'doug'
teste_rg2 = rg2.isalpha()
print(teste_rg2)

True

In [ ]:
# (isalnum) Verifica se uma string é formada por letras (maisculas ou minusculas) OU números. Se for uma letra ou número, mesmo sozinho,
# dá true. Se for caracter especial (@#_), dá false
rg3 = 'D'
teste_rg3 = rg3.isalnum()
print(teste_rg3)

False

In [ ]:
# (split) # devolve strings dentro de uma estrutura (lista)

dados = input("informe valores separados por espaços: ")
dados_sep = dados.split()
print(dados_sep)

informe valores separados por espaços: oi, tudo bem?
['oi,', 'tudo', 'bem?']

In [ ]:
# (strip) Elimina caracteres indesejados de uma string, por padrão, remove espaços do início e fim da string.

autor = "  Douglas  "
print(len(autor))
autor = autor.strip()
print(len(autor))

11
7

In [ ]:
# (replace) substitui um caracter por outro

preco = "R$ 10.50"
print(preco)
preco = preco.replace('.', ',')
print(preco)

R$ 10.50
R$ 10,50

In [ ]:
# (title) Coloca a primeira letra da palavra, de todas as palavras - D, A e R. O capitalize() só muda a primeira palavra, no caso o D.

comp = 'douglas almeida ribeiro'
print(comp)
comp = comp.title()
print(comp)

douglas almeida ribeiro
Douglas Almeida Ribeiro

In [ ]:
# (upper) Coloca todas as letras de um texto em maiúscula

prof = "douglas"
print(prof)
prof = prof.upper()
print(prof)

douglas
DOUGLAS

#Estrutura de Condição - If, Elif, Else

In [ ]:
'''
if condição:
  # bloco de código a ser executado, se a condição for verdadeira.
'''

In [ ]:
idade = 19
if idade >= 18:
  print("Você é maior de idade")

Você é maior de idade

In [ ]:
idade = 18
if idade >= 18:
  print("Você é maior de idade")

Você é maior de idade

In [ ]:
idade = 17
if idade >= 18:
  print("Você é maior de idade")
# nada vai ser emitido pois a condição não foi verdadeira

Instrução "Else": usada em conjunto à instrução "if", especifica um bloco de código a ser executado, se a condição "if" não for verdadeira.

In [ ]:
'''
 if condição:
  # bloco de código a ser executado se a condição for verdadeira
else:
  # bloco de código a ser executado se a condição for
'''

In [ ]:
idade = int(input("Digite sua idade: "))

if idade >= 18:
  print("Você é maior de idade")
else:
  print("Você é menor de idade.")

In [ ]:
'''
if condição1:
  # bloco
elif condicao2:
  # bloco
else:
  #bloco
'''

In [ ]:
nota = int(input("Digite sua nota em número inteiro: "))

if nota >= 90:
  print("Sua nota é A")

elif nota >= 80:
  print("Sua nota é B.")

elif nota >= 70:
  print("Sua nota é C.")

else:
  print("Sua nota é D.")

Digite sua nota em número inteiro: 56
Sua nota é D.

Exemplo:
*  Escreva um programa que verifique se um número digitado pelo usuário é positivo, negativo ou zero.

Passo a passo:

1. Solicite ao usuário que digite um número.
2. Armazene o número digitado em uma variável chamada "numero".
3. Verifique se o número digitado é igual a zero. Se sim, exiba a mensagem "O número digitado é zero."
4. Caso contrário, verifique se o número é maior que zero. Se sim, exiba a mensagem "O número digitado é positivo."
5. Se nenhuma das condições anteriores for atendida, significa que o número é negativo. Nesse caso, exiba a mensagem "O número digitado é negativo."

In [ ]:
numero = float(input("Digite um número: "))

if numero == 0:
    print("O número digitado é zero.")
elif numero > 0:
    print("O número digitado é positivo.")
else:
    print("O número digitado é negativo.")

1. Faça um algoritmo que leia um número inteiro e diga se ele é maior, menor ou igual a 10;

In [ ]:
numero = int(input("Informe um número inteiro: "))

if numero > 10:
  print("O número digitado é maior que 10.")

elif numero == 10:
  print("O número digitado é igual a 10")

else:
  print("O número digitado é menor que 10")

Informe um número inteiro: 12
O número digitado é maior que 10.

2. Faça um algoritmo que leia dois números inteiros e apresente na tela o maior deles ou se eles são iguais;

In [ ]:
n1 = int(input("Informe um número inteiro: "))
n2 = int(input("Informe um segundo número inteiro: "))

if n1 > n2:
  print(f"O número {n1} é maior que {n2}")

elif n2 > n1:
  print(f"O número {n2} é maior que {n1}")

else:
  print(f"Os números {n1} e {n2} são iguais")

Informe um número inteiro: 7
Informe um segundo número inteiro: 8
O número 8 é maior que 7

3. Crie um algoritmo que leia um número e diga se ele está no intervalo fechado entre 25 e 200;

In [ ]:
numero = int(input("Informe um número: "))

if numero in range (25,201):
  print(f"O número digitado {numero} está no intervalo de 25 e 200")
else:
  print(f"O número digitado {numero} não está no intervalo de 25 e 200")

Informe um número: 201
O número digitado 201 não está no intervalo de 25 e 200

In [ ]:
n3 = int(input("Digite um número inteiro: "))

if n3 >= 25 and n3 <=200:
  print(f"O número digitado {n3} está no intervalo de 25 e 200")
else:
  print(f"O número digitado {n3} não está no intervalo de 25 e 200")

Digite um número inteiro: 201
O número digitado 201 não está no intervalo de 25 e 200

4. Crie um algoritmo que leia um número e informe na tela se o mesmo é positivo. Caso seja, mostre o número na tela

In [ ]:
numero = float(input("Digite um número: "))

if numero > 0:
    print(f"O número {numero} digitado é positivo.")
else:
    print(f"O número {numero} digitado é negativo.")

In [ ]:
numero = float(input("Digite um número: "))

if numero > 0:
  print(f"{numero} é um número positivo")
else:
  pass # o pass é o comando usado quando a segunda condição não é necessária.
       # também poderia ser usado aqui o print() vazio.
       # No Python, a palavra-chave pass
       # é usada como um espaço reservado para um bloco de código vazio.
       # É usado quando você precisa
       # ter uma estrutura sintaticamente correta, mas não deseja
       # executar nenhum código dentro desse bloco.

5. Crie um algoritmo que leia um número e informe se ele é divisível por 7.

In [ ]:
numero = int(input("Digite um número inteiro: "))

if numero % 7 == 0:
  print("O número é divisível por 7")
else:
  print("O número não é divisível por 7")

Digite um número inteiro: 8
O número não é divisível por 7

6. Crie um algoritmo que leia um número e diga se ele é par ou ímpar.

In [ ]:
numero = float(input("Digite um número inteiro: "))

if numero % 2 == 0 and numero !=0:
  print("O número é par")
else:
  print("O número é ímpar")

Digite um número inteiro: 2.5
O número é ímpar

7. Escreva um programa em Python que solicite ao usuário que digite uma letra. Em seguida, verifique se a letra digitada é uma vogal ou não.

In [ ]:
letra = str(input("Digite uma letra: ")).lower()
vogais = ["a", "e", "i", "o", "u"]

if letra in vogais:
  print("A letra digitada é uma vogal.")
else:
  print("A letra digitada é uma consoante.")

Digite uma letra: c
A letra digitada é uma consoante.

In [ ]:
letra = input("Digite uma letra: ")
letra.casefold()

if letra == "a" or letra == "e" or letra == "i" or letra == "o" or letra == "u":
  print(f"{letra} é uma vogal")
else:
  print(f"{letra} é uma consoante")

Digite uma letra: R
R  é uma consoante

8. Escreva um programa que solicite ao usuário três notas de um aluno, e calcule a média. Em seguida, exiba a média e uma mensagem informando se o aluno foi aprovado (média maior ou igual a 7) ou reprovado.

In [ ]:
n1 = float(input("Informe sua primeira nota: "))
n2 = float(input("Informe sua segunda nota: "))
n3 = float(input("Informe sua terceira nota: "))

media = (n1+n2+n3)/3

if media >=7:
  print(f"Sua nota foi {media:.2f}: Aprovado")
else:
  print(f"Sua nota foi {media:.2f}: Reprovado")

Informe sua primeira nota: 10
Informe sua segunda nota: 8.6
Informe sua terceira nota: 7.2
Sua nota foi 8.60: Aprovado

9. Escreva um programa que solicite ao usuário os comprimentos dos três lados de um triângulo. Em seguida, exiba uma mensagem informando se o triângulo é equilátero (todos os lados iguais), isósceles (dois lados iguais) ou escaleno (todos os lados diferentes).

In [ ]:
l1 = int(input("Informe o valor de 1 lado do triângulo (cm): "))
l2 = int(input("Informe o valor do 2° lado do triângulo (cm): "))
l3 = int(input("Informe o valor do 3° lado do triângulo (cm): "))

if l1 == l2 == l3:
  print("O triangulo é equilátero")

elif (l1 == l2 or l1 == l3 or l2 == l3):
  print("O triangulo é isósceles")

else:
  print("O triângulo é escaleno")

Informe o valor de 1 lado do triângulo (cm): 20
Informe o valor do 2° lado do triângulo (cm): 20
Informe o valor do 3° lado do triângulo (cm): 10
O triangulo é isósceles

In [ ]:
L1 = int(input("Informe o valor de 1 lado do triângulo (cm): "))
L2 = int(input("Informe o valor do 2° lado do triângulo (cm): "))
L3 = int(input("Informe o valor do 3° lado do triângulo (cm): "))

if L1 < (L2 + L3) and L2 < (L1 + L3) and L3 < (L2 + L1):
# um triângulo precisa ter um lado diferente da soma dos 2 outros lados dele, pra ser válido.
# verificando se há um triângulo com as medidas informadas
  tri = True
else:
  tri = False

if tri == True:

  print("As medidas formam um triangulo.")
else: # tri == false
  print("As medidas não formam um triangulo.")

# vinculando a validação anterior (se/if é triângulo). Caso seja triângulo,
# verifica a informação de if/se que tipo de triângulo é:
# se trata de um if aninhado

if tri == True:
  # trata-se de um triângulo? Sim:
  if L1 == L2 == L3:
    print("O triangulo é equilátero (3 lados iguais).")

  elif (L1 == L2 or L1 == L3 or L2 == L3):
    print("O triangulo é isósceles (2 lados iguais).")

  else:
    print("O triângulo é escaleno (todos os lados são diferentes).")

else: # Tri == false, nada é feito
  pass

Informe o valor de 1 lado do triângulo (cm): 6
Informe o valor do 2° lado do triângulo (cm): 7
Informe o valor do 3° lado do triângulo (cm): 8
As medidas formam um triangulo.
O triângulo é escaleno (todos os lados são diferentes)

10.  Escreva um programa que solicite ao usuário sua idade e exiba uma mensagem informando em qual faixa etária ele se encontra: criança (0-12 anos), adolescente (13-17 anos), adulto (18-59 anos) ou idoso (60 anos ou mais).

In [ ]:
idade = int(input("Informe sua idade por gentileza: "))

if idade in range (0,13):
  print(f"Sua idade é {idade} anos. Você está na faixa etária criança")
elif idade in range (13,18):
  print(f"Sua idade é {idade} anos. Você está na faixa etária adolescente")
elif idade in range (18,60):
  print(f"Sua idade é {idade} anos. Você está na faixa etária adulto")
else:
  print(f"Sua idade é {idade} anos. Você está na faixa etária idoso")

Informe sua idade por gentileza: 60
Sua idade é 60 anos. Você está na faixa etária idoso

In [ ]:
idade = int(input('Informe sua idade: '))

if 0 <= idade <= 12:

# se 0 for menor ou igual a idade, e idade for menor ou igual a 12
# idade <= 0?
# idade <= 12?
# pra fazer um intervalo:
# Para ler: pega o idade (preenchido) e compara com o lado esquerdo (0), e vê se é menor ou igual (<=)
# pega o 12 e compara com o idade (preenchido) e vê se é menor ou igual (<=)

  print(f"Sua idade é {idade} anos. Você está na faixa etária criança")
elif 13 <= idade <= 17:
  print(f"Sua idade é {idade} anos. Você está na faixa etária adolescente")
elif 18 <= idade <= 59:
  print(f"Sua idade é {idade} anos. Você está na faixa etária adulto")
else:
  print(f"Sua idade é {idade} anos. Você está na faixa etária idoso")

  if idade <= 12

'''
O sinal <= é lido como "menor ou igual a".
O sinal >= é lido como "maior ou igual a".
O sinal < é lido como "menor que".
O sinal > é lido como "maior que".
Se você quiser ler a expressão
"0 <= idade <= 12" corretamente, você pode dizer:
"idade é maior ou igual a 0?"

--- Quando os comparadores forem duplos, ler da seguinte forma:
0 é menor ou igual (<=) ao número imputado? (S ou N)
o número imputado é menor ou igual a 12?
'''

Estrutura de dados em Python - Listas

## Índice de lista:

Listas são coleções de elementos, e cada elemento é associado a um índice inteiro, começando por 0, que indica a posição do primeiro elemento na lista.

Lista [0] acessa o primeiro elemento da lista
Lista [1] acessa o segundo elemento da lista
...
Lista [-1] acessa o último elemento da lista

In [ ]:
# Lista é variável, colocada numa estrutura, que armazena diversos valores sobre um atributo.
# Lista homogênea: com o mesmo tipo dentro dela.


lista_vazia = []
print(lista_vazia)

noivo = ['Zé', 'Mané', 'Ana', 'Fran', 'João', 'Franz']
print(f"Convidados do noivo:{noivo}")

idades = ['41',47,46,28,17,50]
print(f"Idades dos convidados do noivo:{idades}")

massas = [86,74,52,47,90,110]
print(f"Massas dos convidados do noivo:{massas}")

alturas = [1.68, 1.74, 1.65, 1.65, 1.80, 1.97]
print(f"Alturas dos convidados do noivo:{alturas}")

id = noivo.index("Fran") # colocando a busca do índice na variável id

print(f'O IMC da Fran é {massas[id]/alturas[id]**2:.2f}') # índice 3 de massas e índice 3 de alturas

[]
Convidados do noivo:['Zé', 'Mané', 'Ana', 'Fran', 'João', 'Franz']
Idades dos convidados do noivo:['41', 47, 46, 28, 17, 50]
Massas dos convidados do noivo:[86, 74, 52, 47, 90, 110]
Alturas dos convidados do noivo:[1.68, 1.74, 1.65, 1.65, 1.8, 1.97]
O IMC da Fran é 17.26

In [ ]:
# Quem é o elemento índice 3 na lista noivo?

print(f"O índice 3 da lista é {noivo[3]}") # quando chamo pelo índice, o nome vem sozinho.

podio = noivo[:3] # intervalo vai do início ([_:3]) até o índice anterior do 3 [2]

p_u = [noivo[0], noivo[-1]]
print(f"primeiro e último nome da lista: {p_u}") # se chamo a lista, vem com [] e os nomes entre ""

noivo = ['Zé', 'Mané', 'Ana', 'Fran', 'João', 'Franz']

for nome in noivo:
    print(nome)

noivo = ['Zé', 'Mané', 'Ana', 'Fran', 'João', 'Franz']

print(noivo[0], noivo[1], noivo[2], noivo[3], noivo[4], noivo[5])

noivo = ['Zé', 'Mané', 'Ana', 'Fran', 'João', 'Franz']

for i in range(len(noivo)):
    print(noivo[i], end=' ')

O índice 3 da lista é Fran
primeiro e último nome da lista: ['Zé', 'Franz']
Zé
Mané
Ana
Fran
João
Franz
Zé Mané Ana Fran João Franz
Zé Mané Ana Fran João Franz

In [ ]:
# Método index/índice: Descobrir qual é o índice correspondente a um nome da lista

'Fran' in noivo # verifica se o nome Fran está na lista noivo e retorna True ou False

# Para verificar o índice, é necessário passar o método com um argumento:
# index(valor procurado, a partir de qual índice procurar, e até qual índice procurar)

noivo.index("Fran") # sem indicar o intervalo que está

noivo.index("Fran", 0, 4)

# indica a busca na lista noivo, procura o índice do argumento Fran, no intervalo do índice 0 (início) a 3 (fim).

3

In [ ]:
id = noivo.index("Fran") # colocando a busca do índice de 'Fran' na variável id

print(f'O IMC da Fran é {massas[id]/alturas[id]**2:.2f}')

O IMC da Fran é 17.26

In [ ]:
nome = str(input("Qual seu nome? "))
noivo = ['Zé', 'Mané', 'Ana', 'Fran', 'João', 'Franz']
idades = [41,47,46,28,17,50]
#print(f"Idades dos convidados do noivo:{idades}")
massas = [86,74,52,47,90,110]
#print(f"Massas dos convidados do noivo:{massas}")
alturas = [1.68, 1.74, 1.65, 1.65, 1.80, 1.97]
#print(f"Alturas dos convidados do noivo:{alturas}")
id = noivo.index(nome) # criada a variável id para solicitar o índice correspondente ao nome inserido

if nome in noivo:
  print(f"O índice do {nome} é: {noivo.index(nome)}")
  print(f"O peso de {nome} é {massas[id]} kg, e a altura é {alturas[id]}.")
  print(f'O IMC de {nome} é {massas[id]/alturas[id]**2:.2f}')

elif nome not in noivo:
  print("Este nome não está listado")

else:
  pass

Qual seu nome? Ana
O índice do Ana é: 2
O peso de Ana é 52 kg, e a altura é 1.65.
O IMC de Ana é 19.10

In [ ]:
# Adicionando elementos à lista com .append().
## Por padrão esse método insere SOMENTE UM valor desejado em lista.
lista_vazia = [] # esvazia a lista novamente, caso eu dê RUN
print(lista_vazia) # imprime lista vazia, que existe na variável acima
lista_vazia.append("Joana")
# adiciona Joana na última posição da lista existente (lista_vazia) e mantem esse item na variável.
lista_vazia.append("Douglas")
#
lista_vazia.append("Eduardo")
#
lista_vazia.append('Ester')
#
lista_vazia.append('Ester')
#
lista_vazia.append('Daniela')
#
lista_vazia.append('Pedro')
#
lista_vazia.append('Maria')
print(lista_vazia) # imprime a lista_vazia, variável acima (adiciona Joana ao último nome)

fam = lista_vazia

print(lista_vazia)
print(fam)

[]
['Joana', 'Douglas', 'Eduardo', 'Ester', 'Ester', 'Daniela', 'Pedro', 'Maria']
['Joana', 'Douglas', 'Eduardo', 'Ester', 'Ester', 'Daniela', 'Pedro', 'Maria']
['Joana', 'Douglas', 'Eduardo', 'Ester', 'Ester', 'Daniela', 'Pedro', 'Maria']

In [ ]:
fam.insert(3, "Tobias")
print(fam)

# adicione o nome Tobias ao índice 3, o insert não substitui, "empurra"

['Joana', 'Douglas', 'Eduardo', 'Tobias', 'Ester', 'Ester', 'Daniela', 'Pedro', 'Maria']

In [ ]:
fam[3] = 'Raimundo'
print(fam)

# Tirou o nome 'Tobias' e incluiu 'Raimundo'


''' Forma de atribuição direta: nome_da_lista[] = 'item que desejo adicionar'.
Insere um novo elemento e substitui o elemento anterior, se existir
'''

['Joana', 'Douglas', 'Eduardo', 'Raimundo', 'Ester', 'Ester', 'Daniela', 'Pedro', 'Maria']

" Forma de atribuição direta: nome_da_lista[] = 'item que desejo adicionar'.\nInsere um novo elemento e substitui o elemento anterior, se existir\n"

In [ ]:
# Excluindo elementos de uma lista:

fam.pop()
print(fam)

# Pop exclui pelo índice.
# Por padrão, pop exclui o último elemento, quando não é informado o índice

['Joana', 'Douglas', 'Eduardo', 'Raimundo', 'Ester', 'Ester', 'Daniela', 'Pedro']

In [ ]:
# Excluindo um nome por seu índice:
# Excluiu Joana da lista: índice 0

fam.pop(0)
print(fam)

['Eduardo', 'Raimundo', 'Ester', 'Ester', 'Daniela', 'Pedro']

In [ ]:
# Excluindo Raimundo da lista fam, por remove:

fam.remove("Raimundo")
print(fam)

['Eduardo', 'Ester', 'Ester', 'Daniela', 'Pedro']

In [ ]:
# Operadores nas expressões matemáticas:

'''
O sinal <= é lido como "menor ou igual a".
O sinal >= é lido como "maior ou igual a".
O sinal < é lido como "menor que".
O sinal > é lido como "maior que"

0 <= idade <= 12 : "idade é maior ou igual a 0 e menor ou igual a 12".

Comparação dupla:
Nesse caso, o primeiro sinal de menor ou igual (<=) é lido como "menor ou igual a",
indicando que a idade deve ser maior ou igual a 0. O segundo sinal de menor ou igual (<=)
é lido novamente como "menor ou igual a", indicando que a idade também deve ser menor ou igual a 12.

--- Ler da seguinte forma: 0 é menor ou igual ao número imputado? S ou N
o número imputado é menor ou igual a 12?

10 <= numero <= 20

'''

# Operadores nas expressões matemáticas:


O sinal <= é lido como "menor ou igual a".
O sinal >= é lido como "maior ou igual a".
O sinal < é lido como "menor que".
O sinal > é lido como "maior que"


```
0 <= idade <= 12 : "idade é maior ou igual a 0 e menor ou igual a 12".
```

Comparação dupla:
Nesse caso, o primeiro sinal de menor ou igual (<=) é lido como "menor ou igual a",
indicando que a idade deve ser maior ou igual a 0. O segundo sinal de menor ou igual (<=)
é lido novamente como "menor ou igual a", indicando que a idade também deve ser menor ou igual a 12.

--- Ler da seguinte forma: 0 é menor ou igual ao número imputado? S ou N
o número imputado é menor ou igual a 12?

Exercício:
```
10 <= numero <= 20
```
Supondo que imputei o número 5.
10 é menor ou igual a 5? Não | 10 <= 5
5 é menor ou igual a 20? Não | 5 <= 10

0 <= idade <= 12
Supondo que imputei o n 33.
0 é menor ou igual a 33? Sim | 0 <= 33
33 é menor ou igual a 12? Não| 33 <= 12

valor < -5 or valor > 5
Supondo que imputei n 7
7 é menor que -5? Não
7 é maior que 5? Sim

5 <= len(palavra) <= 10
Supondo que o len(palavra) seja 28.
5 é menor ou igual a 28? Sim
28 é menor ou igual a 10? Não

1 < numero < 100 and numero > 0
Supondo que o número escolhido foi 50.
1 é menor que 50? Sim
50 é menor que 100? Sim
50 é maior que 0? Sim

In [ ]:
# criando uma lista com strings
nomes = ['Douglas', 'Daniela', 'Pedro', 'Maria', 'Eduardo', 'Ester']

# criando uma lista com números inteiros
pesos = [78, 25, 98, 63, 92, 67]

# criando uma lista com números fracionários
alturas = [1.85, 1.29, 1.75, 1.67, 1.82, 1.70]

In [ ]:
# forçando um erro usando o remove, pois o nome 'xerox' não está na lista
nomes.remove('xerox')

In [ ]:
# solução 1
teste = input('Informe o nome que deseja excluir da lista: ') # recebe um nome do usuário e o guarda na variável "teste"
teste = teste.capitalize() # Padroniza a variável "teste" acima, colocando a primeira letra maiúscula
if teste in nomes: # verifica se o nome armazenado na variável teste, está na lista de nomes, que está no bloco anterior: ['Douglas', 'Daniela', 'Pedro', 'Maria', 'Eduardo', 'Ester']
  nomes.remove(teste) # se o nome inserido na variável teste estiver na lista nomes, será feita a exclusão deste nome.
  print(f'O nome {teste} foi excluído com sucesso') # imprime o resultado da exclusão se somente se ela for feita
else:
  print(f'O nome {teste} não está na lista, não pode ser excluído')
  # Caso o nome digitado não esteja na lista informa o usuário essa situação

In [ ]:
# solução 2 (utlizando try/except)
teste2 = input('Informe o nome que deseja excluir da lista: ') # recebe um nome, e guarda na variável teste2
teste2 = teste2.capitalize() # Padroniza a variável teste2, com a primeira letra maiúscula
try: # comando para "tentar" fazer alguma ação, é um if implícito: só executa o remove se teste2 estiver na lista nomes
  nomes.remove(teste2) # ação que será feita, caso a tentativa seja bem sucedida (neste caso, a remoção se o nome digitado estiver na lista)
  print(f'O nome {teste2} foi excluído com sucesso') # imprime o resultado da exclusão se somente se ela for feita
except: # comando para o caso da tentativa (try) ser mal sucedida (no caso se o nome não estiver na lista)
  print(f'O nome {teste2} não está na lista, logo não pode ser excluído') # Caso o nome digitado não esteja na lista, informa ao usuário essa situação

## if-else e try-except são estruturas diferentes usadas para lidar com diferentes tipos de situações em um programa.

A declaração if-else é usada para tomar decisões com base em condições. Ela permite que você execute um bloco de código se uma condição for verdadeira e outro bloco de código se a condição for falsa. Você pode ter várias condições aninhadas usando if-elif-else. A estrutura if-else é usada para controlar o fluxo de execução do programa com base nas condições lógicas.

Por outro lado, a estrutura try-except é usada para lidar com exceções e erros durante a execução do programa. Ela permite que você coloque um bloco de código suscetível a erros em um bloco try e especifique como lidar com esses erros no bloco except. Se uma exceção ocorrer dentro do bloco try, o fluxo de execução do programa será desviado para o bloco except, onde você pode tratar o erro de forma apropriada. A estrutura try-except é usada para capturar e tratar exceções, evitando que o programa pare abruptamente.

Em resumo, a estrutura if-else é usada para tomar decisões com base em condições, enquanto a estrutura try-except é usada para lidar com exceções e erros durante a execução do programa. Elas são usadas para fins diferentes e em contextos diferentes.

In [ ]:
# Tamanho da lista len(lista)
nomes = ['Douglas', 'Daniela', 'Pedro', 'Maria', 'Eduardo', 'Ester']
print(len(nomes)) # mostra o número de elementos da minha lista! contando o número (6)

# Maior valor da lista
pesos = [78, 25, 98, 63, 92, 67]
print(max(pesos)) # traz o maior valor dentro da lista (98)

# Menor valor da lista
alturas = [1.85, 1.29, 1.75, 1.67, 1.82, 1.70]
print(min(alturas)) # traz o menor valor dentro da lista (1.29)

# Soma dos valores de uma lista
print(sum(alturas)) # usado pra total

# Contando a frequência de um valor em uma lista
print(nomes.count('Douglas')) # quantas vezes o nome Douglas está na lista? 1 vez

# Ordenar uma lista crescente com .sort()
nomes.sort() # padrão = crescente; aceita parâmetro, que pode decrescente, por exemplo.
print(nomes)

# Ordenar uma lista decrescente com .sort(reverse=True)
nomes.sort(reverse=True) # inverte o crescente = decrescente
print(nomes)

6
98
1.29
10.08
1
['Daniela', 'Douglas', 'Eduardo', 'Ester', 'Maria', 'Pedro']
['Pedro', 'Maria', 'Ester', 'Eduardo', 'Douglas', 'Daniela']

In [ ]:
# Adicionando todos os elementos de uma lista em outra lista, usando o método .extend():
# Melhor para alteração no banco de dados.

'''O extend adiciona dados a uma lista individualmente. Para adicionar mais de um dado com .append, ele acaba ficando
uma lista com dados a serem apendados a outra lista (lista dentro de lista) o que impossibilita um cálculo de soma de elementos
por exemplo. Já no .extend, os dados são inseridos individualmente, o que permite uma soma de elementos (dentro de uma lista só)'''

nomes1 = ['Zé', 'Mané']
nomes2 = ['Ana', 'José']

nomes1.extend(nomes2)

print(nomes1)

['Zé', 'Mané', 'Ana', 'José']

In [ ]:
# Adicionando todos os elementos de uma lista em outra usando sinal de (+) (concatenando listas)
# Melhor para filtro

nomes1 = ['Zé', 'Mané']
nomes2 = ['Ana', 'José']

teste = nomes1 + nomes2
print(teste)

['Zé', 'Mané', 'Ana', 'José']

In [ ]:
# Colocando uma lista dentro de outra lista, com .append(): [[]]

carros = ['Fusca', 'Gol']
carros2 = ['Uno', 'Punto', 'Bravo']
carros.append(carros2)
print(carros)

# em caso de buscar o len() vai dar 3 elementos.

['Fusca', 'Gol', ['Uno', 'Punto', 'Bravo']]

In [ ]:
# "acessando" (fazendo uma querie/buscando) uma lista da outra:
# selecionei apenas o índice 2, que contem Uno, Punto, Bravo
fiat = carros[2]
print(fiat)

['Uno', 'Punto', 'Bravo']

In [ ]:
# "acessando" (fazendo uma querie/buscando) um item de uma lista que está dentro de outra:
ok = carros[2][0]
print(f'O melhor carro de todos os tempos é {ok}')

# selecionei a lista de índice [2], que é a lista ['Uno', 'Punto', 'Bravo'], Uno é o índice [0].

O melhor carro de todos os tempos é Uno

Função Range

In [ ]:
# Função range criada com um argumento(): cria uma lista com n valores inteiros, de 0 a a n-1
lista1 = list(range(5)) # neste caso de 0 a 4.
print(lista1)

# Função range com dois argumentos(1,2): cria uma lista com n valores inteiros com o n° informado no 1° argumento,
# até  ((n-1); do primeiro elemento (1) até 4 = (n-1)
lista2 = list(range(1,5))
print(lista2)

# Função range com três argumentos(1,2,3): cria uma lista com definição de onde começar (1° argumento),
# onde parar (2° argumento) e de qual tamanho de intervalo entre os valores (3° argumento)
# Neste caso,
lista3 = list(range(1,5,2)) # minha lista vai de 1 a 5, caminhando de 2 em 2.
print(lista3)

[0, 1, 2, 3, 4]
[1, 2, 3, 4]
[1, 3]

## Range:
A função range aceita os seguintes dados como argumento:

**Número inteiro**

```
# for i in range(5):
  print(i)
```


-- Para cada i (variável contadora) no range 5, print i

**Número inteiro considerando início e fim**


```
# for i in range(2, 6):
  print(i)

```

-- Para cada i (variável contadora) no range de 2 a 5 (exclui o último número) print i


**Número inteiro considerando início, fim e incremento**

```
# for i in range (1,10,2):
  print(i)

```

-- Para cada i (variável contadora) no range de 1 a 9, andando de 2 a 2, o que gera os números: 1 3 5 7 9

**Referência ao tamanho de lista**

```
# lista = [10, 20, 30, 40, 50]

for i in range(len(lista)):
  print(lista[i])
```


 -- Para cada i (variável contadora) dentro do range do tamanho da lista (nesse caso, de 0 a 5 elementos, que são seus índices, até 4), dê print na lista, segundo seu elemento no índice [i].

 -- No exemplo acima o que vai ocorrer é o seguinte, para cada i (variável contadora) dentro do range que corresponde ao tamanho da lista range(5),

```
print(lista[0]) # índice 0, corresponde ao elemento 10;
print(lista[1]) # índice 1, corresponde ao elemento 20;
print (lista[2]) # índice 2, corresponde ao 30, e assim por diante
```

O `range(len(lista))` serve para percorrer uma lista usando seus índices.

Por que isso é necessário? Muitas vezes é preciso acessar um valor específico de uma lista, que só pode ser acessado por seu índice. Por exemplo, acessar o primeiro e último número, é possível usando `índice[0] e índice[-1]`.

Estruturas de repetição (For)

O for possui uma variável contadora dentro dele:

```
# for i in "Python":
  print(i)
```
No exemplo acima, a variável contadora i está percorrendo a palavra Python, em cada uma das suas letras: P y t h o n. O for itera sobre listas, percorrendo cada um de seus elementos. O for itera sobre tuplas, percorrendo sobre seus elementos; o for itera sobre strings, percorrendo seus caracteres.

O for itera num range, para iterar sobre todos os elementos daquela sequência.

```
print("Entrando no laço...")
for i in range(10):
    print(i)
    if(i==5):
        break
print("Saindo do laço...")
```
No código acima, o for considera um range de 0-10, com a variável contadora iterando sobre esse valores. Porém, no if, caso o número chegue a 5, é solicitada a parada do código. O break funciona para parar um fluxo de código.

```
print('Entrando no laço...')
i = 0 # variável contadora começa com 0
while(i<10): # enquanto i for menor que 10:
  i+=1       # adicione +1 à variável contadora
  if (i%2==0) # caso i seja par (i mod 2 seja 0):
    continue # continue
    print(i) #
print('Saindo do laço...')
```

# Uso do BREAK e do CONTINUE:

```
# Encontrando o primeiro número par em uma lista
numeros = [1, 3, 5, 4, 7, 9, 2, 6]
for num in numeros:
    if num % 2 == 0:
        print("Encontrou um número par:", num)
        break
```
No código acima, temos a lista números e a variável contadora num iterando sobre os números da lista.
Caso o número iterado em num seja par, deve parar a iteração, **break**, e a contagem será interrompida. Serve pra encontrar algum número que satisfaça a condição dentro da lista, sem iterar por todos os números.

```
# Imprimindo apenas números ímpares em uma lista
numeros = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for num in numeros:
    if num % 2 == 0:
        continue
    print("Número ímpar:", num)
```
No código acima, temos a lista números e a variável contadora num iterando sobre os números da lista.
Caso o numero iterado seja par, ignore o número e continue iterando (neste caso vão ser encontrados apenas os números ímpares).


O **continue**, é o oposto do break. Se no break quando encontra uma condição, a contagem é interrompida, no continue, quando a condição é encontrada (exemplo acima, se encontrar número par), o comando é: continue iterando, ignorando o número par.

In [ ]:
# Apresentando e utilizando o for de forma simples:
# O for percorre uma lista em cada um de seus elementos
# é criada uma variável temporária (i) preenchida a cada iteração do for

pesos = [78, 25, 98, 63, 92, 67]
for i in pesos:
  print(i)

78
25
98
63
92
67

In [ ]:
# Utilizando o "for" com "else": não é uma condição como o if
# o bloco dentro do else é executado concomitante ao for

pesos = [78, 25, 98, 63, 92, 67]
for i in pesos:
    print(i)
else:
    print('Todos os itens foram exibidos com sucesso')

78
25
98
63
92
67
Todos os itens foram exibidos com sucesso

# Função enumerate

In [ ]:
notas = [5,9,6,8,7] # receber lista com notas

# objetivo: encontrar notas acima de 7 p/ verificar aprovação.

for i,v in enumerate(notas): # o enumerate permite que o for percorra uma lista buscando 2 coisas: posição (i) e valor (v).
  print(i,v)
  if v >=7: # acessando a nota do índice
    print('aprovado, com', v)
  else:
    print('reprovado')

0 5
reprovado
1 9
aprovado, com 9
2 6
reprovado
3 8
aprovado, com 8
4 7
aprovado, com 7

In [ ]:
# Utilizando o for com range:

alturas = [1.85, 1.29, 1.75, 1.67, 1.82, 1.70]
alturas_quad = [] # criando a lista vazia
imc = [] # criando a lista vazia

for i in range(len(alturas)): # crie uma lista range, do tamanho (len) da lista alturas (6)
  print(f'posição indice {i}') # índice
  print(f'Valor {alturas[i]}')

  #alturas_quad.append(alturas[i]**2)
  #imc.append(pesos[i]/alturas_quad[i])
#print(f'IMC {imc}')

posição indice 0
Valor 1.85
posição indice 1
Valor 1.29
posição indice 2
Valor 1.75
posição indice 3
Valor 1.67
posição indice 4
Valor 1.82
posição indice 5
Valor 1.7

In [ ]:
# Utilizando o for com range
alturas = [1.85, 1.29, 1.75, 1.67, 1.82, 1.70]
pesos = [78, 25, 98, 63, 92, 67]
alturas_quad = []
imc = []
for i in range(6): # para cada i numa lista de 6 elementos
  print(f'Posição (índice): {i}')
  print(f'Valor {alturas[i]}') # acesse a altura do índice [i]
  alturas_quad.append(alturas[i]**2) # coloque o valor das alturas ao quadrado²
  imc.append(pesos[i]/alturas_quad[i])
print(f'IMC {imc}')
print(alturas_quad)

Posição (índice)0
Valor 1.85
Posição (índice)1
Valor 1.29
Posição (índice)2
Valor 1.75
Posição (índice)3
Valor 1.67
Posição (índice)4
Valor 1.82
Posição (índice)5
Valor 1.7

In [ ]:
# Utilizando o for com enumerate:

alturas_quad = []
imc = []
for i, v in enumerate(pesos): # para cada índice(i) e valor(v) na lista pesos
  print(i)
  print(v)
  alturas_quad.append(alturas[i]**2)
  imc.append(pesos[i]/alturas_quad[i])
print(f'IMC {imc}')

1 - Crie um script que receba do usuário uma lista de n números inteiros digitados pelo
usuário na mesma caixa de entrada separados por espaços. Após isso, utilize o método
split para separar esses números e armazená-los em uma lista. Acesse o índice 0 dessa
nova lista e verifique seu tipo. Caso seja do tipo inteiro, imprima para o usuário a seguinte
mensagem: "este valor é do tipo inteiro"; caso contrário imprima: "este valor não é do tipo
inteiro".

In [ ]:
lista = []
n = input("Informe números inteiros separados por espaços, para serem inseridos em lista: ") # não colocar int, deixar padrão (str)
n1 = n.split() # split não se aplica a números, apenas a strings.
print('tamanho lista n:',len(n)) # o tamanho de uma lista de 4 números é 7, pois inclui os espaços.

print(n1)

print('O tamanho da lista n1 é', len(n1)) # aqui o tamanho é só correspondente aos números, dá 3

print(f'O valor correspondente ao índice 0 da lista n1(pós split) é: {n1[0]}')
print(f'O tipo de dado do índice 0 na lista n1(pós split) é {type(n1[0])}')

if type(n1[0]) == int:
  print("este valor é do tipo inteiro")
else:
  print('este valor não é do tipo inteiro')

# fazendo o casting de str para int, que precisa ser feito por elemento um a um. Não é possível colocar a lista inteira:

for num in n1: # para cada num da lista n1
  lista.append(int(num)) # acrescente os num na lista = [] declarada lá em cima, transformando em inteiro
print(lista)
print(sum(lista))
print(type(lista[0]))

if type(lista[0]) == int:
    print("este valor é do tipo inteiro")
else:
    print('este valor não é do tipo inteiro')

Informe números inteiros separados por espaços, para serem inseridos em lista: 5 6 7
tamanho lista n: 5
['5', '6', '7']
O tamanho da lista n1 é 3
O valor correspondente ao índice 0 da lista é: 5
O tipo de dado do índice 0 é <class 'str'>
este valor não é do tipo inteiro
[5, 6, 7]
18
<class 'int'>
este valor é do tipo inteiro

2 - Crie um script que aproveite a lista utilizada para imprimir a mensagem do exercício
anterior, e utilize uma estrutura 'for' que percorra toda a lista e faça a tipagem de cada
valor como inteiro. Após isso, acesse o índice 0 dessa nova lista, e verifique seu tipo e
caso seja o tipo inteiro, imprima para o usuário a seguinte mensagem: 'este valor é do
tipo inteiro'. Caso contrário, imprima: 'este valor não é do tipo inteiro.'

In [ ]:
if type(lista[0]) == int:
  print("este valor é do tipo inteiro")
else:
  print('este valor não é do tipo inteiro')

Resposta do professor (gabarito)
  '''
  dados = input('Informe uma sequência de números inteiros separados por espaços: ')
dados = dados.split()
dados_tipados = []
for i in range(len(dados)):
  dados_tipados.append(dados[i])
  dados_tipados[i] = int(dados_tipados[i])
if type(dados_tipados[0]) == int:
  print(f'Este valor {dados_tipados[0]} é do tipo inteiro')
else:
  print(f'Este valor {dados_tipados[0]} não é do tipo inteiro')

'''

este valor é do tipo inteiro

3 - Utilizando a lista tipada como int do exercício 2, faça um print que exiba a soma de
todos os valores dessa lista.

In [ ]:
lista = []
for num in n1: # para cada num da lista n1
  lista.append(int(num)) # acrescente os num na lista = [] declarada lá em cima, transformando em inteiro
print(sum(lista)) # print soma de valores da lista

26

4 - Crie uma lista vazia denominada quadrados e utilizando a lista tipada como int do
exercício 2, faça uma estrutura do tipo for que percorra cada elemento dessa lista de
números inteiros, eleve cada valor encontrado ao quadrado e insira cada resultado na
lista quadrados e ao final exiba a soma dos valores da lista quadrados.

In [ ]:
quadrados = []
num = input('Informe números separados por espaços: ')
num_sep = num.split()


for i in num_sep:
  quadrados.append(int(i)**2) # dentro do append posso fazer operações, como colocar os números ao quadrado!

print(quadrados)
print(sum(quadrados))

Informe números separados por espaços: 1 2 3
[1, 4, 9]
14

5 - Crie um programa que receba do usuário duas listas de n números inteiros digitados
pelo usuário separados por espaços. Após isso utilize o método split para dividir cada
lista, gerando duas novas listas chamadas x e y. É importante deixar claro para o usuário
que as duas listas digitadas devem ter a mesma quantidade de números digitados,
independente de quantos sejam. Após isso, faça a tipagem de todos os números das
duas listas (x e y) como float. Então, crie três novas listas vazias: xquad, yquad e xy.
Agora
preencha a lista xquad com cada elemento da lista x elevado ao quadrado. Depois faça
o mesmo para yquad, elevando cada elemento de y ao quadrado e por último preencha
a lista xy fazendo a multiplicação de cada valor da lista x pelo seu correspondente na
lista y. No final, crie a variável sx que recebe a soma dos valores da lista x, a variável sy
que recebe a soma dos valores da lista y, a variável sxquad, que recebe a soma da lista
xquad, a variável syquad que recebe a soma da lista de yquad e a variável sxy que
recebe a soma da lista de xy.No final imprima todas as variáveis de soma criadas.

In [ ]:
lista1 = []

n1 = input("Informe números inteiros separados por espaços. Os números devem ser em mesma quantidade nas 2 listas ")
x = n1.split() # números digitados na variável n, divididos pelo split.

lista2 = []

n2 = input("Informe números inteiros separados por espaços. Os números devem ser em mesma quantidade nas 2 listas ")
y = n2.split() # números digitados na variável n, divididos pelo split.

print(x,y)

# Fazendo a tipagem de números das listas como float:

for num in x: # para cada num da lista x
  lista1.append(float(num)) # acrescente os num na lista1 = [] declarada lá em cima, transformando em float

"""
Forma que o prof fez e me sugeriu fazer:

for i in range(len(x)): # para cada índice i dentro da lista auxiliar - range(len(x) que corresponde ao tamanho da lista X.
Range cria uma lista auxiliar.
  x[i] = float(x[i]) # para cada índice i encontrado na lista x posição i (todas), reescreva essas posições como float

"""

print(f'Os números da lista1 (correspondentes a X, convertidos em float são: {lista1}')

for num in y: # para cada num da lista y
  lista2.append(float(num)) # acrescente os num na lista2 = [] declarada lá em cima, transformando em float

print(f'Os números da lista2 (correspondentes a Y, convertidos em float são: {lista2}')

xquad = []
for num in lista1:
  xquad.append(num**2)
print(f'os números da lista1 (x) ao quadrado são:{xquad}')

'''
Forma que o prof fez e me sugeriu fazer:

for i in range(len(x)):
  x[i] = float(x[i])

for i in range(len(y))
  y[i] = float(y[i])

'''

yquad = []
for num in lista2:
  yquad.append(num**2)
print(f'os números da lista2 (y) ao quadrado são:{yquad}')

# por último preencha a lista xy fazendo a multiplicação de cada valor da lista x pelo seu correspondente na lista y


xy = []

for num in range(len(lista1)):
  xy.append((lista1[num])*(lista2[num]))
print(f'A multiplicação dos itens x por y é: {xy}')

'''
for i in range(len(x)):
  xquad.append(x[i]**2)

for i in range(len(y))
  yquad.append(y[i]**2)

for i in range(len(xy))
  xy.append(x[i]*y[i])

'''

# para cada número(num) em um range do tamanho da lista 1, que tem tantos elementos quantos forem inseridos pelo usuário no primeiro input:
# adicione à lista xy a multiplicação desse número iterado da lista1 pelo numero iterado da lista 2.

# No final, crie a variável sx que recebe a soma dos valores da lista x, a variável sy que recebe a soma dos valores da lista y,
# a variável sxquad, que recebe a soma da lista xquad, a variável syquad que recebe a
# soma da lista de yquad e a variável sxy que recebe a soma da lista de xy.
# No final imprima todas as variáveis de soma criadas.

sx = sum(lista1)
sy = sum(lista2)
sxquad = sum(xquad)
syquad = sum(yquad)
sxy = sum(xy)

print(f'soma de valores da lista X: {sx}')
print(f'soma de valores da lista X: {sy}')
print(f'soma de valores da lista X: {sxquad}')
print(f'soma de valores da lista X: {syquad}')
print(f'soma de valores da lista X: {sxy}')

Informe números inteiros separados por espaços. Os números devem ser em mesma quantidade nas 2 listas 1 1 1
Informe números inteiros separados por espaços. Os números devem ser em mesma quantidade nas 2 listas 2 2 2
['1', '1', '1'] ['2', '2', '2']
Os números da lista1 (correspondentes a X, convertidos em float são: [1.0, 1.0, 1.0]
Os números da lista2 (correspondentes a Y, convertidos em float são: [2.0, 2.0, 2.0]
os números da lista1 (x) ao quadrado são:[1.0, 1.0, 1.0]
os números da lista2 (y) ao quadrado são:[4.0, 4.0, 4.0]
A multiplicação dos itens x por y é: [2.0, 2.0, 2.0]
soma de valores da lista X:3.0
soma de valores da lista X:6.0
soma de valores da lista X:3.0
soma de valores da lista X:12.0
soma de valores da lista X:6.0

# Loop While

In [ ]:

c = 0
n = int(input('Informe quantos dias tem uma semana'))

while c < n: # enquanto a sentença for verdadeira
  print('Hello World') # execute o bloco abaixo


# esse código deixa o loop infinito. enquanto 0 for menor que 7 (dias da semana), print Hello World.

In [ ]:

c = 0
n = int(input('Informe quantas vezes deseja ver a mensagem Hello World: '))

while c < n: # enquanto a sentença for verdadeira
  print('Hello World') # execute o bloco abaixo
  c += 1 # c = c+1

c = 0
0 < 5? Sim
c = 0 + 1 -> c = 1

c = 1
1 < 5? Sim
c = 1 + 1 -> c = 2

c = 2
2 < 5? Sim
c = 2 + 1 -> c = 3

c = 3
3 < 5? Sim
c = 3 + 1 -> c = 4

c =  4
4 < 5? Sim
c = 4 + 1 -> c = 5

c = 5
5 < 5? Não!
Parou a execução

Informe quantas vezes deseja ver a mensagem Hello World: 5
Hello World
Hello World
Hello World
Hello World
Hello World

In [ ]:
c = 0
v = [3, 4]
n = int(input('Informe quantas vezes deseja ver a mensagem Hello World: '))

while c < n: # enquanto a sentença for verdadeira (c<n)

  v.append(v[0]*v[1]) # .append acrescenta um numero ao final da lista V
  print('Hello World')
  print(sum(v))
  c += 1 # c = c+1

# Enquanto c(contador c + 1) < n (numero imputado pelo usuario):
# adicione à lista V: o índice 0 da lista v (3) multiplicado pelo índice 1 lista v (4) = 12
# a lista ficou [3, 4, 12]
# print soma da lista V: 3 + 4 + 12 = 19
# C = 0 + 1

# 2 loop: c < n? Sim
# adicione novamente 3*4 à lista V: 12
# a lista ficou [3, 4, 12, 12]
# print soma da lista V: 3 + 4 + 12 + 12 = 31
# C = 1 + 1

# 3 loop: c < n? Sim
# # adicione novamente 3*4 à lista V: 12
# a lista ficou [3, 4, 12, 12, 12]
# print soma da lista V: 3 + 4 + 12 + 12 + 12 = 31
# C = 2 + 1

# 4 loop: c < n? Sim
# # adicione novamente 3*4 à lista V: 12
# a lista ficou [3, 4, 12, 12, 12]
# print soma da lista V: 3 + 4 + 12 + 12 + 12 + 12 = 43
# C = 3 + 1

# 5 loop: c < n? não

Informe quantas vezes deseja ver a mensagem Hello World: 3
Hello World
19
Hello World
31
Hello World
43

In [ ]:
'''

Faça um script que receba do usuário 5 números inteiros, armazene os números recebidos em uma lista,
e no final exiba a soma desses números.

'''
numeros = []
num1 = int(input('Informe um numero por gentileza: '))
numeros.append(num1)
num2 = int(input('Informe um numero por gentileza: '))
numeros.append(num2)
num3 = int(input('Informe um numero por gentileza: '))
numeros.append(num3)
num4 = int(input('Informe um numero por gentileza: '))
numeros.append(num4)
num5 = int(input('Informe um numero por gentileza: '))
numeros.append(num5)

num = [num1, num2, num3, num4, num5]

print(sum(f'A soma dos números é {num}'))

Informe um numero por gentileza: 1
Informe um numero por gentileza: 2
Informe um numero por gentileza: 3
Informe um numero por gentileza: 4
Informe um numero por gentileza: 5
15

In [ ]:
'''
Faça um script que receba do usuário n números inteiros, armazene os números
recebidos a cada momento em que foram recebidos em uma lista e no final exiba
a soma desses valores. Considere que o usuário deverá informar apenas 1 número
inteiro por caixa de diálogo. Usar While.
'''

c = 0 # criado um contador
while True: # considerando que é verdade
  try:
  n = int(input('Informe a quantidade de números inteiros que deseja em lista: '))
  break # para o while
except:
  pass

  print(f'Cuidado! você não digitou um número inteiro, por favor faça isso')

numeros = [] # o que vier no while vai entrar aqui

while c < n: # enquanto o contador for menor que n (qtd numeros lista solicitada no input anterior)
  try:
    i = int(input(f'Informe o {c+1}° número inteiro da lista: ')) # tentativa de corrigir o erro de não ser digitado o numero inteiro.
    numeros.append(i)
    c += 1
  except:
    pass
    print(f'Cuidado! Você não digitou um número inteiro, por favor, digite o {c+1} número novamente')

  numeros.append(int(input(f'Informe o {c+1}° número inteiro da lista: '))) # .append() aceita qualquer valor válido dentro dele.

# c + 1 = 0 + 1 = 1° número
# enquanto c < n , fazer o casting (transformando o input seguinte, em int), e appendar na lista numeros.
# esse input é um segundo input solicitado ao usuário, feito dentro de append.
# o input pede: informe o (contador 0 + 1) núm inteiro da lista

  c += 1

print(f'A soma dos valores informados é {sum(numeros)}')

KeyboardInterrupt: ignored

In [ ]:
'''
Faça um programa que receba do usuário números inteiros e os insira na lista, somente se o número for ímpar.
Encerre o programa quando a lista tiver 5 números ímpares.

'''
numeros = []

while len(numeros) < 5: # enquanto o tamanho da lista números for menor q 5
  n = int(input('Informe um número inteiro: '))
  if n % 2 !1= 0: # se o número for ímpar:
      numeros.append(n) # append número à lista números
  else:
    pass
print(numeros)

Informe um número inteiro: 1
Informe um número inteiro: 2
Informe um número inteiro: 3
Informe um número inteiro: 4
Informe um número inteiro: 5
Informe um número inteiro: 6
Informe um número inteiro: 7
Informe um número inteiro: 8
Informe um número inteiro: 9
[1, 3, 5, 7, 9]

# Tuplas:

São imutáveis, diferente das listas.Não se usa .append, .remove, .pop como nas listas.

Usa-se parênteses () pra definir tuplas, diferente dos colchetes [] característicos das listas.

```
t = tuple('abc')
x = ("python") # tupla string
x1 = (2,3,4) # tupla int
x2 = (2.5,1.6,4.8) # tupla float
x3 = ("python", 1, 4.5, True)
print(x3)
print(type(x3))
```

In [ ]:
Etupla = ('SP', 'ES', 'PA')
print('MA' in Etupla)


Ntuple = ('José', 'Carlos', 'Maria', 'Maria')
print(Ntuple.count('N')) # contando quantas vezes o nome aparece na lista

print(Ntuple.index('Carlos')) # pede o índice correspondente ao nome

False
0
1

# Dicionário:

Os itens vem em chaves {} com item:valor separados por 2 pontos (:).
Os elementos podem ser acessados por seus valores.
Exemplo:

In [ ]:
dicionario = {'a':"amor","b":"baixinho"} # dic de string
dicionario2 = {1:20, 3:30, 4:40} # dic de int
dicionario3 = {5.5:50.50, 30.1:30.25} # dic de float
dicionario4 = {(10:20):['python']} # dic com tupla no item e lista no valor

In [ ]:
dic = {"a":"letraA", "b":"letraB", "c":"letraC"}
print(dic["a"])
print(dic.get('d', 'Valor N/A')) # acessa um valor no dicionário

letraA
Valor N/A

In [ ]:
agenda = {404088221: "José", 77665544:"Helo", 33445666:"Carlos", 21215000: 'Claudio'}
#           KEY:VALUE           KEY:VALUE       KEY:VALUE           KEY:VALUE
print(agenda[404088221])

print(agenda.keys())
print(agenda.values())

print(len(agenda))

José
dict_keys([404088221, 77665544, 33445666, 21215000])
dict_values(['José', 'Helo', 'Carlos', 'Claudio'])

# Funções:

Criada com def. Usada para repetir alguma ação em outros lugares do código

```
def nome_funcao():        # criando a função, que pode ter parâmetro ou não
  print('Sou uma função') # determinando o que ela vai fazer
nome_funcao()             # chamando a função
```
A função acima não tem parâmetro.

```
def somar (x,y): # criando a função, com 2 argumentos, x e y
  total = x + y
  print(total)
somar(10,20) # chamando a função, atribuindo x = 10 e y = 20
```

Retorno de função:
```
def show():
  return 15
show()
# essa função trouxe um retorno, mas não um print, então nd acontece caso seja chamada
```

In [ ]:
def somar (x,y): # criando a função, com 2 argumentos, x e y
  total = x + y
  print(total)
somar(10,20) # chamando a função, atribuindo x = 10 e y = 20

30

In [ ]:
def show():
  return 15
print(show())

15

In [ ]:
def mult(a,b):
  return a * b
print(mult(2,5))

In [ ]:
'''
def nomefuncao (parametro 1, parametro 2):
  bloco de codigo ou instrucoes
  return "valor"
'''

# Exemplo de função sem argumento e sem bloco de código

def teste():
  return print('Bom dia!')
teste()

Bom dia!

In [ ]:
# Exemplo de função com argumento, e bloco de código
# Crie uma função que receba 2 argumentos e calcule x ** y (x elevado a y)

def casamento (x,y):
  vezes = x**y
  return print(f'O professor Douglas se casará {vezes} vezes')
casamento (2,3)

16

Caso eu queira modificar a ordem dos parâmetros da função, por exemplo, em casamento(x, y), casamento(2,3), quero colocar casamento(3,2) sendo 3 o y e 2 o x, é possível? Sim, como abaixo:


```
def casamento (x,y):
  vezes = x**y
  return print(f'O professor Douglas se casará {vezes} vezes')
casamento (y=3, x=2)
```

In [ ]:
'''
Função que receba do usuário valores de venda (p)
custo variável (cv)
custo fixo (cf)
calcule o valor do ponto de equilíbrio em quantidade e informe ao usuário ()
'''

def peq ():
  p = float(input('Informe o valor do preço unitário de venda em reais R$: '))
  cv = float(input('Informe o valor do custo variável de venda em reais R$: '))
  cf = float(input('Informe o valor do custo fixo de venda em reais R$: '))
  qt = cf/(p-cv)
  return print(f'A partir de aproximadamente {qt:.0f} unidades você terá lucro') # qt 0f é a formatação com 0 casas decimais após a vírgula

peq()

Informe o valor do preço unitário de venda em reais R$: 10
Informe o valor do custo variável de venda em reais R$: 6
Informe o valor do custo fixo de venda em reais R$: 5000
A partir de aproximadamente 1250 unidades você terá lucro

In [ ]:
'''
Elabore uma função que receba em 5 inputs diferentes as seguintes informações:
1 - Receita líquida em reais
2 - Custo em R$
3 - Estoque em R$
4 - Contas a receber em R$
5 - Fornecedores em R$

Após receber as informações acima, a função deve calcular o valor e printar os seguintes KPIs:
- PME (prazo médio de estoques)
- PMR (prazo médio de recebimentos)
- PMP (prazo médio de pagamentos)
- CO (Ciclo Operacional)
- CC (Ciclo de Caixa)

Caso PMP seja maior que CO (ciclo operacional), print(f'Essa empresa paga {variavel} dias após receber')

Caso PMP seja menor que CO (ciclo operacional), print(f'Essa empresa paga {variavel} dias antes receber')

Caso PMP seja igual CO (ciclo operacional), print(f'Essa empresa paga {variavel} no mesmo dia em que recebe')

In [ ]:
import math

def giro():
  receita = float(input("Qual foi a receita líquida no período? "))
  custos = float(input("Qual foi o valor de custos no período? "))
  estoques = float(input("Qual foi o estoque no período? "))
  contas = float(input("Qual foi o valor de contas a receber no período? "))
  fornecedores = float(input("Qual foi o valor de fornecedores em R$? "))
  dias = int(input('Qual o período em dias do balanço? '))
  PME = round((estoques/custos)*dias)
  PMR = round((contas/receita)*dias)
  PMP = round((fornecedores/custos)*dias)
  CO = PME + PMR
  CC = abs(CO - PMP)

  print(f"O valor de prazo médio de estoques (PME) é de {PME} dias")
  print(f"O valor de prazo médio de recebimentos (PMR) é de {PMR} dias")
  print(f"O valor de prazo médio de pagamentos (PMP) é de {PMP} dias")
  print(f"O custo operacional é de {CO}")
  print(f"O ciclo de caixa é de: {CC}")
  if PMP > CO:
    print(f'Essa empresa paga {CC} dias após receber')
  elif PMP < CO:
    print(f'Essa empresa paga {CC} dias antes de receber')
  else:
    print(f'Essa empresa paga no mesmo dia que recebe')

giro()

# Custo Operacional (CO) = PME (prazo médio de estoques) + PMR (prazo médio de recebimentos)
# Ciclo de Caixa (CC) = CO(Ciclo Operacional) - PMP(prazo médio de pagamentos)

Qual foi a receita líquida no período? 10000
Qual foi o valor de custos no período? 7000
Qual foi o estoque no período? 600
Qual foi o valor de contas a receber no período? 600
Qual foi o valor de fornecedores em R$? 100
Qual o período em dias do balanço? 360
O valor de prazo médio de estoques (PME) é de 31 dias
O valor de prazo médio de recebimentos (PMR) é de 22 dias
O valor de prazo médio de pagamentos (PMP) é de 5 dias
O custo operacional é de 53
O ciclo de caixa é de: 48
Essa empresa paga 48 dias antes de receber

In [ ]:
'''
Faça uma função sem parâmetros que ao ser acionada solicita ao usuário uma sequência
numérica em única caixa de texto e separada por espaços. Após o usuário inserir os valores corretos,
a função devolve print informando o valor da média, variância e desvio padrão da sequência

'''

'\nFaça uma função sem parâmetros que ao ser acionada solicita ao usuário uma sequência numérica\nem única caixa de texto e separada por espaços. Após o usuário inserir os valores corretos,\na função devolva print informando o valor da média, variância e desvio padrão da sequência\n'

In [ ]:
import statistics

def estatistica ():
  lista1 = input('Informe uma sequência de dados separados por espaços: ').split()
  lista1 = [int(num) for num in lista1]
  media = sum(lista1)/len(lista1)
  variancia = statistics.variance(lista1)
  desvio_padrao = statistics.stdev(lista1)
  print(f'média: {media}')
  print(f'variância: {variancia}')
  print(f'desvio padrão: {desvio_padrao:.2f}')

estatistica()

Informe uma sequência de dados separados por espaços: 1 2 3 4 5
média: 3.0
variância: 2.5
desvio padrão: 1.58

In [ ]:
def describe ():
  dados = input('''Informe sequência de números separados por espaços para calcular medidas: ''')
  dados = dados.split() # dados recebe a si mesmo com a lista de strings separadas

  for i in range(len(dados)): # percorrendo uma lista por seus índices, conforme o tamanho da lista
    dados[i] = float(dados[i]) # dados conforme seus índices recebe a si mesma transformada para float
  media = sum(dados)/len(dados)

  quad = []
  for i in range(len(dados)):
    quad.append((dados[i] - media)**2) # percorre a lista de dados por seus índices, - média um por um, e eleva todos eles ao quadrado.

  var = sum(quad)/(len(dados)-1)
  sd = var**0.5 # desvio padrão é a variância elevada a 0.5

  print(f'A média é {media:.2f}, variância é: {var:.2f} e desvio padrão: {sd:.2f}')

describe()

Informe sequência de números separados por espaços para calcular medidas: 1 2 3 4 5
A média é 3.00, variância é:2.50 e desvio padrão 1.58

# Criando um banco de dados MySQL 8.0 na GCP

Acesse a GCP, no hamburguinho rs procure Cloud SQL

Caso seja solicitado, ative a API.

* Busque criar instância

* Escolha o card MySQL 8.0

* Autorize a compute engine

* Dê nome à instância

* Marque a opção sem senha

* Em escolha uma configuração pra começar: Mude a opção de produção pra desenvolvimento

* Em 'personalizar sua instância' procure no item 'proteção de dados' a opção proteção contra exclusão / backup automático, e desabilite

* Criar instância

A partir desse ponto, os comandos são no shell (Dentro do console SQL, abrir no cloud shell).

Dar comando de criação do banco de dados, de tabelas (entidades) e atributos (colunas de tabelas)

No shell, o primeiro comando é de acesso ao banco de dados criado na instância:

```
gcloud sql connect nome_instancia --user=root
```
Caso peça senha, apenas dê enter. A configuração é sem senha.
Se pedir autorização, autorize
Se tudo der certo, o prompt fica assim:

```
mysql > SHOW DATABASES;
```
Mostra os bancos de dados que estiverem em sistema, no caso aparecem os BD de funcionamento do sistema.

Vamos criar um Banco de Dados chamado 'escola', e depois criar uma tabela para a entidade alunos

```
CREATE DATABASE escola;
```

Copia e cola no shell para criar a database escola

```
SHOW DATABASES;
```
Dá o comando acima para conferir se a database foi criada.

O banco de dados 'escola' está criado e vazio por hora.

```
USE escola
```
Esse comando aponta para o banco de dados que se deseja usar

```
SHOW TABLES; verifica as tabelas do banco de dados apontado
```

```
CREATE TABLE alunos (
  id int not null auto_increment,
  nome varchar (30) not null,
  nascimento date,
  genero varchar (30),
  peso decimal (5,2),
  altura decimal (3,2),
  nacionalidade varchar (20) default 'Brasil',
  primary key (id)
);

```
constraint (restrição/obrigação): em nome varchar (30) é not null

Agora inserindo informações de alunos na tabela alunos:

```
INSERT INTO alunos
  (nome, nascimento, genero, peso, altura, nacionalidade)
  values
  ('Douglas', '1976-07-04', 'M', '77.50', '1.85', 'Brasileira'),
  ('Maria', '1990-07-04', 'F', '70.50', '1.75', 'Espanha'),
  ('Nome', 'AAAA-MM-DD', 'F', 'kg.kg', 'altura', 'nacionalid');
```

Consultando se os alunos foram incluídos na tabela alunos:

```
SELECT * FROM alunos
```
Crie um BD com as mesmas configurações, com um nome diferente na VM (instância):

* 1 - nome da instancia (conforme desejado)
* 2 - nome do banco de dados (livraria)
* 3 - nome da tabela (leitores)

Alterando registros de tabelas de um banco de dados

Adicionando um novo atributo à tabela alunos (ex: profissão)

```
alter table alunos
add column profissao varchar(10);
```

caso se dê SELECT * FROM alunos, vai aparecer a coluna profissao, VAZIA

Com objetivo de mudar a posição do atributo profissao para apos o nome:

```
alter table alunos
add column profissao varchar (10) after nome
```
Erro no add column acima, pois já existia na tabela uma coluna com o nome profissao.

Assim, é melhor mudar o nome da coluna profissao na tabela alunos e depois adicionar profissão à posição desejada.

```
update alunos set profissao where profissao;
alter table alunos change column profissao prof;
```
desc (describe) alunos traz informações sobre as tabelas

Então vamos adicionar 'prof' logo após 'nome'

```
alter table alunos
add column prof varchar (10) after nome;
```

Ainda podemos ter a necessidade de adicionar a coluna antes de todas as outras

```
alter table alunos
add column profi varchar (10) first;
```

Eliminando/dropando as colunas que não nos interessam (profi e profissao) pois até aqui ficaremos apenas com a coluna prof para descrever profissao.

```
alter table alunos
drop column profi;
```
```
alter table alunos
drop column profissao;

```
Agora vamos renomear a coluna prof para profissao:

```
alter table alunos
rename column prof to profissao
```

```
alter table alunos
modify column genero varchar (10)
after profissao
```
A coluna genero fica depois da coluna profissao


Agora vamos mudar o nome da tabela 'alunos' para 'clientes'

```
alter table alunos
rename to clientes;
```

Criando uma tabela nova no mesmo BD:

```
CREATE TABLE clientes (
nome varchar (30) not null,
descricao text,
idade int,
nasc date

);
```

SHOW tables : mostra quais tabelas existem no BD;

a criação dessa tabela clientes não vai dar certo, pois ela já existe (foi renomeada no passo acima: alter table alunos to clientes)

```
CREATE TABLE clientes if not exists clientes (
nome varchar (30) not null,
descricao text,
idade int,
nasc date

);
```
O código acima não dá gera erro, mas não cria nada, pois a tabela clientes já existe.

```
CREATE TABLE if not exists cursos (
area varchar (30) not null,
curso text,
carga int,
abertura date
);
```
Não foi criada ainda a primary key, id.
Necessariamente precisa de uma PK(id), que será criada depois.
desc cursos, vai mostrar area curso carga abertura (as colunas da tabela)

```
alter table cursos
add column idcurso int first;
```
Adicione a coluna id curso do tipo inteiro no primeiro lugar da tabela

Transformando o idcurso em primary key

```
alter table cursos
add primary key (idcurso);
```

Criar uma tabela de teste só para excluí-la logo após sua criação

```
CREATE TABLE if not exists teste (
  id int,
  nome varchar (10),
  idade int
);
```

Crie a tabela teste se ela não existir
Com id do tipo inteiro
nome varchar 30 e idade tipo inteiro.

```
drop table teste;
```

Agora vamos popular a tabela cursos

```
INSERT INTO cursos values
 ('1','Humanas','Latras','3000','80','2014-01-01'),
 ('2','Bio','Medicina','5000','40','2014-01-01'),
 ('3','Exatas','Engenharia','4000','50','2014-01-01'),
 ('4','Exatas','ADSS','3500','40','2010-01-01'),
 ('5','Exatas','Mat','3000','40','2000-01-01'),
 ('6','Bio','enfermagem','3000','40','2016-01-01'),
 ('7','Humanas','Filosofia','4000','30','2016-01-01'),
 ('8','Humanas','Geografia','4000','30','2018-01-01'),
 ('9','Exatas','Bancos de Dados','3000','30','2018-01-01'),
 ('10','Bio','Fisioterapis','4000','30','2018-01-01');
```
Deu erro na execução, pois as tuplas estão considerando um atributo a mais que os atributos criados no momento da criação da tabela, no caso o atributo vagas. Assim, vamos criar o atributo vagas

```
alter table cursos
add column vagas int after carga
```
Cola novamente o INSERT INTO destacado acima.

Agora vamos modificar tuplas linha por linha.

O ```update``` serve pra modificar os dados existentes em uma tabela. Permite atualizar valores de uma coluna e registros de uma tabela conforme condições que são estabelecidas em seguida.

O ```set``` atualiza os valores que serão atribuídos da coluna:

```
UPDATE nome_da_tabela
SET coluna1 = valor1, coluna2 = valor2, ...
WHERE condição;

ATUALIZAR nome_da_tabela
DEFINIR coluna1 = valor1, coluna2=valor2,...
ONDE valor nome_valor = 'id'
```
Em atualizar(update) coloco o nome da tabela;
Em definir(set), coloco o nome da coluna = e valor que desejo que mude (já mudado);
em onde(where) coloco o valor que estou referenciando pra fazer a mudança, exemplo, id = numero do id;

Corrigir onde está 'Latras' para 'Letras':

```
update cursos
set curso = 'Letras'
where idcurso = '1';
```


Corrigir onde está Fisioterapis para Fisioterapia:

```
update cursos
set curso = 'Fisioterapia'
where idcurso = '10';
```


Corrigir onde está ADSS para ADS
```
update cursos
set curso = 'ADS'
where idcurso = '4';
```
Corrigir onde está enfermagem para Enfermagem e mudar vagas para 100
```
update cursos
set curso = 'Enfermagem', vagas = '100'
where idcurso = '6';
```
Agora vamos deletar um registro da tabela curso de banco de dados: idcurso

```
delete from cursos
where idcurso = '9';
```

Deletar todos os cursos que tenham 30 vagas
```
delete from cursos
where vagas = '30';
```
Agora vamos deletar o primeiro curso que apareça na tabela com
abertura = 2014-01-01
```
delete from cursos
where abertura = '2014-01-01'
limit 1;
```

```
truncate table cursos;
```
O comando ```truncate``` exclui todos os registros ou tuplas,
mas mantém a tabela no banco de dados (na prática, elimina os dados da tabela)

#29.06.23

Criar um banco de dados chamado 'loja'



1. Acesse Cloud SQL
2. Crie uma instância MySQL
3. Acessar o shell pelo card da instância criada
4. Conecte-se ao Mysql

```
CREATE DATABASE Loja
```
Criando 6 tabelas e suas relações, e suas relações referentes a uma loja de utensílios domésticos.

As tabelas são: Cliente, Pedido, Produto, ItemPedido, Categoria, ProdutoCategoria

```
USE loja;
```
```
CREATE TABLE Cliente (
  id_cliente INT PRIMARY KEY,
  nome VARCHAR (50),
  endereco VARCHAR (100)
);

CREATE TABLE Pedido (
  id_pedido INT PRIMARY KEY, #id da tabela pedido
  id_cliente INT,            #id da tabela cliente aqui
  descricao VARCHAR(100),
  FOREIGN KEY (id_cliente) REFERENCES Cliente(id_cliente)
);
 ```
* A tabela Cliente não chama nenhuma outra;
a tabela Pedido tem uma FK id cliente, e chama a tabela cliente, pelo id_cliente



 A chave primária representa que um atributo de sua tabela deve ter valor único e exclusivo (como um CPF). Um BD tem várias tabelas com uma PK em cada tabela.
 A chave estrangeira (FK) criada em pedido referencia id_cliente de si mesma e id_cliente da tabela cliente.


 ```
 CREATE TABLE Produto (
  id_produto INT PRIMARY KEY,
  nome VARCHAR(50),
  preco DECIMAL(10, 2)
);

CREATE TABLE ItemPedido (
  id_item INT PRIMARY KEY,
  id_pedido INT,
  id_produto INT,
  quantidade INT,
  FOREIGN KEY (id_pedido) REFERENCES Pedido(id_pedido),
  FOREIGN KEY (id_produto) REFERENCES Produto(id_produto)
);
 ```

* A tabela produto não chama nenhuma
* A tabela ItemPedido tem a FK id pedido e chama a tabela Pedido, pelo id_pedido.
* A tabela ItemPedido tem a FK id produto e chama a tabela Produto, pelo id_produto

```
CREATE TABLE Categoria (
  id_categoria INT PRIMARY KEY,
  nome VARCHAR(50)
);
```
```

CREATE TABLE ProdutoCategoria (
  id_produto INT,
  id_categoria INT,
  PRIMARY KEY (id_produto, id_categoria),
  FOREIGN KEY (id_produto) REFERENCES Produto(id_produto),
  FOREIGN KEY (id_categoria) REFERENCES Categoria(id_categoria)
);
```
* A tabela Categoria não chama nenhuma;
* A tabela ProdutoCategoria tem a FK id produto e chama a tabela Produto, pelo id_produto
* A tabela ProdutoCategoria tem a FK id categoria e chama a tabela Categoria, pelo id_categoria


Agora vamos popular as 6 tabelas com dados referentes a 20 transações comerciais dessa loja


```
INSERT INTO Cliente (id_cliente, nome, endereco)
VALUES
    (1, 'Douglas', 'SP'),
    (2, 'Daniela', 'SP'),
    (3, 'Ester', 'MG'),
    (4, 'Maria', 'BA'),
    (5, 'Douglas', 'PE'),
    (6, 'Raimundo', 'CE'),
    (7, 'Jucimara', 'GO'),
    (8, 'Marlene', 'AC'),
    (9, 'Douglas', 'MA'),
    (10, 'Daniela', 'PI'),
    (11, 'Pedro', 'PB'),
    (12, 'Joaquim', 'RS'),
    (13, 'Julio', 'TO'),
    (14, 'Carla', 'DF'),
    (15, 'Bianca', 'PA'),
    (16, 'Sandra', 'SP'),
    (17, 'Celso', 'SP'),
    (18, 'Silvana', 'BA'),
    (19, 'Prof Raquel', 'BA'),
    (20, 'Pedro', 'SP');
```
```

INSERT INTO Pedido (id_pedido, id_cliente, descricao)
VALUES
    (1, '1', 'Caneca'),
    (2, '1', 'Garfo'),
    (3, '2', 'Faca'),
    (4, '5', 'Copo'),
    (5, '19', 'Copo'),
    (6, '19', 'Colher'),
    (7, '15', 'Colher'),
    (8, '8', 'Colher'),
    (9, '2', 'Copo'),
    (10, '19', 'Colher'),
    (11, '6', 'Copo'),
    (12, '11', 'Colher'),
    (13, '10', 'Garfo'),
    (14, '4', 'Garfo'),
    (15, '3', 'Colher'),
    (16, '3', 'Garfo'),
    (17, '2', 'Copo'),
    (18, '17', 'Garfo'),
    (19, '14', 'Caneca'),
    (20, '13', 'Caneca');
```
```

INSERT INTO Produto (id_produto, nome, preco)
VALUES
    (1, 'Caneca', 15.99),
    (2, 'Garfo', 5.99),
    (3, 'Faca', 7.99),
    (4, 'Colher', 3.99),
    (5, 'Copo', 10.99);
```
```

INSERT INTO ItemPedido (id_item, id_pedido, id_produto, quantidade)
VALUES
    (1, 1, 1, 2),
    (2, 2, 2, 5),
    (3, 3, 3, 7),
    (4, 4, 5, 10),
    (5, 5, 5, 11),
    (6, 6, 4, 30),
    (7, 7, 4, 32),
    (8, 8, 4, 44),
    (9, 9, 5, 13),
    (10, 10, 4, 33),
    (11, 11, 5, 34),
    (12, 12, 4, 32),
    (13, 13, 2, 33),
    (14, 14, 2, 34),
    (15, 15, 4, 27),
    (16, 16, 2, 18),
    (17, 17, 5, 17),
    (18, 18, 2, 33),
    (19, 19, 1, 50),
    (20, 20, 1, 47);
```
```

INSERT INTO Categoria (id_categoria, nome)
VALUES
    (1, 'Comer'),
    (2, 'Beber');
```
```

INSERT INTO ProdutoCategoria (id_produto, id_categoria)
VALUES
    (1, 2),
    (2, 1),
    (3, 1),
    (4, 1),
    (5, 2);

```

# SELECT

Colocar o ``` SELECT * FROM``` para consulta de cada banco populado

-- Seta o banco de dados, indica que usaremos o banco de dados loja

```USE loja;```

```SELECT * FROM Cliente;```

-- Lendo o comando: Seleciona todas as colunas da tabela: Cliente

```SELECT * FROM Pedido;```

-- Lendo o comando: Seleciona todas as colunas da tabela: Pedido

```SELECT * FROM Produto;```

-- Lendo o comando: Seleciona todas as colunas da tabela: Produto

```SELECT * FROM ItemPedido;```

-- Lendo o comando: Seleciona todas as colunas da tabela: ItemPedido

```SELECT * FROM Categoria;```

-- Lendo o comando: Seleciona todas as colunas da tabela: Categoria

```SELECT * FROM ProdutoCategoria;```

-- Lendo o comando: Seleciona todas as colunas da tabela: ProdutoCategoria

* -- Warning: Evite o uso do *, seja específico, adicione apenas as colunas que irá precisar na sua análise.
Exemplo:

```SELECT id_produto, quantidade FROM ItemPedido;```

  Lendo o comando: Seleciona as colunas: id_produto e quantidade da tabela ItemPedido

# WHERE

```
SELECT id_produto, quantidade FROM ItemPedido
WHERE quantidade >= 10;
```
Lendo o comando: Seleciona as colunas: id_produto e quantidade da tabela: ItemPedido, quando o quando a quantidade for maior ou igual a 10


```
SELECT * FROM Cliente
WHERE endereco = 'SP';
```
Lendo o comando: Seleciona todas as colunas, quando o endereço for igual a SP

# DISTINCT

```
SELECT distinct id_produto, quantidade FROM ItemPedido
WHERE quantidade >= 10;

```
Pega 1 vez cada item, mesmo que seja repetido. Pra saber o que tem na tabela.

Exemplo:
```
SELECT DISTINCT descricao FROM PEDIDO;
```
Busca os valores únicos/distintos da coluna descrição na tabela pedido. Elimina as duplicidades.

# LIMIT: retorna os n primeiros registros

Mostra apenas parte da tabela.

Associa-se à função de mostrar só cabeçalho (head) da tabela.

```
SELECT * FROM Cliente
LIMIT 5
```
Seleciona todos os registros da tabela cliente, limitando a 5, mesmo que tenha mais registros

# Booleanos (E | OU | NAO) combinado com WHERE

Exemplo de AND:
```
SELECT nome, endereco,
FROM Cliente
WHERE endereco = 'BA'
AND id_cliente = 19;
```
Lendo o comando:
  Seleciona as colunas: Nome e Endereco da tabela Clientes;
  Apenas os registros com endereço igual a 'BA' e id_cliente igual a 19


-- Exemplo de OR
```
SELECT nome, endereco
FROM Cliente
WHERE endereco = 'SP'
OR endereco = 'MG';
```
Lendo o comando:
   Seleciona as colunas: Nome e Endereço da tabela Clientes,
   Apenas os registros com endereco igual a 'SP' ou Endereço 'MG'


-- Exemplo de NOT
```
SELECT nome, endereco
FROM Cliente
WHERE NOT endereco = 'SP';
```
Lendo o comando:
  Seleciona as colunas: Nome e Endereço da tabela: Clientes,
  Apenas os registros com endereço que não seja igual/que seja diferente de 'SP'

# Funções de Agregação (SUM, AVG, MAX, MIN, COUNT, ROUND)

Somatório de quantidade de produtos vendidos

```
SELECT SUM(quantidade) as soma_quant
FROM ItemPedido;
```
Pegue a soma de quantidade de produtos, chame a soma de soma_qtde.
A soma_qtde retorna uma "variável" temporária com esse valor pedido, que pode ser acessada pelo SELECT.

Média da quantidade de produtos vendidos

```
SELECT AVG(quantidade) AS media_qtde,
round(AVG(quantidade),2) AS media_qtde_arredondado
FROM ItemPedido;
```
Maior quantidade de produtos vendidos
```
SELECT MAX(quantidade) AS maior_quantidade_venda
  FROM ItemPedido;

```
Menor quantidade de produtos vendidos
```
SELECT MIN(quantidade)  menor_quantidade_venda
  FROM ItemPedido;
```

Contagem de produtos (quantos produtos temos na nossa base?)
```
SELECT count(id_produto) as qtd_produtos
  FROM Produto;
```